[2004-01-02 13:37] skvadrik opened #62 "It fixes some of the annoying warnings in the generated code"
It fixes some of the annoying warnings in the generated
code.  I picked up the patch from
http://ufo2000.lxnt.info/pmwiki/index.php/Re2c/Patches

Original comment by: nuffer

[2004-01-02 13:41] skvadrik opened #1 "Input buffer overrun."
Input buffer overrun. Scanner, generated by re2c reads
one byte after the end of input buffer.

This bug taken from
http://ufo2000.lxnt.info/pmwiki/index.php/Re2c/Bugs

test.re:

#include &lt;stdio.h&gt;
#include &lt;string.h&gt;

#define    YYCTYPE        char
#define    YYCURSOR    cursor
#define    YYLIMIT        cursor
#define    YYMARKER    marker
#define    YYFILL(n)

int test(const char *te

[2004-01-02 13:42] skvadrik opened #89 "Add case insensitive string literals"
Add case insensitive string literals (we can use single
quotes for them, as single quotes are not used by re2c
currently)

Original comment by: nuffer

[2004-01-27 22:52] skvadrik opened #63 "Cleanup, Fix warnings, allow build with bison 1.875, makerpm"
Just as a reminder here is my version that does:

\- a little clean up
- allow build with newer g++ versions and bison 1.875
(re2c should now build with all current and older g++
and yacc or bison versions)
- fix some warnings
- putting in cvs tags
- added a makerpm script
- added re2c --version

hope to get the changes intergrated :-)

When you apply the patch you either need to do make
clean and

[2004-02-06 17:00] skvadrik opened #64 "braced quantifiers: {\d+(,|,\d+)?} style"
0.9.1 supports nongreedy * and + closure quantifiers.

This patch allows for perl-style {\d+(,|,\d+)?}
closures.  Why describe it myself, a clip from the
perlre man page:

{n}    Match exactly n times
{n,}   Match at least n times
{n,m}  Match at least n but not more than m
times

Example re2c patthen:

"a" "b"{4,8} "c" { code here; }

As with the _ and * quantifiers, it modified a a
"primary" gam

[2004-03-11 21:11] skvadrik opened #65 "automake build patch"
I made a patch to get re2c built with automake. Maybe I'm not the
only one who has been longing for a familiar "configure" build
system in RE2C. Enjoy!

Patching instruction:

$ cd re2c (your CVS working directory)
$ patch -p1 &lt; re2c-automake-patch.diff
$ chmod 755 autogen.sh cvsclean.sh
$ ./autogen.sh

Original comment by: moriyoshi

[2004-04-21 13:15] skvadrik opened #90 "Windows support (takes only a few minutes)"
Hi!
I have just started using re2c on windows and therefore
I needed to make a few changes to create a running
version. As I don't know how to use CVS I would be glad
if you applied the following changes to the source:

\- Use istream (ifstream or cin) instead of unix
open/read/close
- Rename the .cc files to .cpp (makes compiling on
windows easier, but that's not neccessary)

I appended "my versi

[2004-05-03 22:19] skvadrik opened #66 "Make generated if comparisons work with characters above 127"
On writing a lexer dealing with UTF-8 characters, I
came across a problem with generated if's.  Here is a
code snippet:

if(yych &lt;= '\277'){
//blah blah
}

The above comparison always fails (at least on MSVC
2003) since '\277' is negative.  I believe it's
conformant to the C++ spec that the type of a character
literal is 'char'.

The patch changes code.cc so the above snippet becomes
if(yych &l

[2004-05-13 11:21] skvadrik opened #3 "cannot compile with gcc-3.3.1 on cygwin"
Hi,

I'm the Cygwin gcc maintainer and wanted to build and
distribute re2c for Cygwin.

But I cannot compile the provided scanner.cc, getting
this error from g++:

g++ -o scanner.o -O2 -Wall -I. -Wno-unused -Wno-
parentheses -Wno-deprecated -c scanner.cc
scanner.re: In member function `int Scanner::echo
(std::ostream&)':
scanner.re:79: error: invalid conversion from `uchar*' to
`const char*'
scann

[2004-05-18 15:25] skvadrik opened #67 "enable builds outside the source directory"
Build outside the source directory fails.

First, there are changes needed to Makefile.am regarding
scanner.cc and parser.cc, the patchfile is what I used
now, but there may be more changes needed to get a
useful logic here.

Regards,
Gerrit

Original comment by: siebenschlaefer

[2004-05-25 13:48] skvadrik opened #5 "minor cosmetic problem"
In my opinion, the version should be maintained for
output, too.

Using re2c-0.9.1 (extracted from the windows installer
package which is really nice :-), the code it generates
begins with
/* Generated by re2c 0.5 on Tue May 25 15:15:57 2004
*/
This sort of baffled me, because i was using re2c 0.9.1,
not re2c 0.5.
I think the guilty line is
o &lt;&lt; "/* Generated by re2c 0.5 on ";
line 134 in pa

[2004-07-28 00:57] skvadrik opened #7 "Invalid options prefixed with two dashes cause program crash"
If invalid command line options are prefixed with two
dashes (i.e. --) the program aborts.

Example:
re2c --xyz

Original comment by: hattrick

[2004-07-28 00:59] skvadrik opened #9 "--output=output option does not work as documented"
Using the --output=output option causes the program to
abort.

Original comment by: hattrick

[2004-08-20 07:56] skvadrik opened #11 "re2c does not emit last line if '\n' missing"
If the last line in the .re file does not terminate with \n,
it is not copied to the .c file.

Original comment by: *anonymous

[2004-09-05 23:15] skvadrik opened #12 "re2c scanner has buffering bug."
The scanner generated for the following expression has
faulty buffering (v0.9.3):

/*!re2c

[a][b]\+ "cc"  { return 1; }
[\000-\377]   { return 0; }

*/

The scanner is missing a call to YYFILL() when it gets to
the "cc" part of the match. I was using re2c to generate
a scanner to run on a microcontroller. My buffer is only
16 bytes so I ran into this bug pretty quickly.

I will attach a test prog

[2004-10-12 16:19] skvadrik opened #68 "Fix compile on FreeBSD"
unistd.h and ctype.h headers missing.

Original comment by: yourjesus

[2004-10-12 16:22] skvadrik opened #69 "Copmputational Reuse Optimization"
In the automata emitter, the maxDist method is called
iteratively and recursively on a DAC.  No effort is
made to cache the computations.

This patch caches the distance computations for better
computational reuse.

On complicated sets of regular expression tokens re2c
compile times of 10+ hours can be dropped to several
seconds.

Original comment by: yourjesus

[2004-10-26 10:15] skvadrik opened #13 "incorrect code generated with -b option"
it looks like the code generated for the following
fragment with '-b' option is incorrect:

/*!re2c
any = [\001-\377];
'&lt;a'                   { RET(TAG_A); }
[&lt;][A-Za-z]\+      { RET(TAG_TAG); }
[\000]                { RET(TAG_EOI); }
any                    { goto cont; }
*/

I suspect that the cause of trouble is the code around
``yy7:'' label:

yy7:    ++YYCURSOR;
if(yybm[0+(yych = *YYCURS

[2004-11-15 17:46] skvadrik opened #70 "Fix warnings from MSVC.NET"
fix warnings.

Original comment by: nuffer

[2005-03-14 15:09] skvadrik opened #14 "re2c hangs when processing valid re-file"
// tested with win32 build of RE2C 0.9.4

#define YYCTYPE     unsigned char
#define YYCURSOR    cursor
#define YYLIMIT     cursor
#define YYMARKER    marker
#define YYFILL(n)

bool DetectBinHex(const char *text)
{
YYCTYPE *start  = (YYCTYPE *)text;
YYCTYPE *cursor = (YYCTYPE *)text;
YYCTYPE *marker = (YYCTYPE *)text;
next:
YYCTYPE *token = cursor;
/*!re2c
'(This file must be converted with BinHex

[2005-04-12 14:56] skvadrik opened #91 "integrate storable state patch"
The changeset can be found here:

http://www.mgix.com/re2c-0.9.5-salvable-state-unified-patch-v2.bz2

Original comment by: *anonymous

[2005-04-21 05:42] skvadrik opened #92 "savable state support for multiple re2c blocks"
With the -f flag specified, every /*!re2c */ block starts with the resume
switch statement, and a yyNext: label. However, only the last one is
correct; the other ones (as might be expected) only contain
yyFillLabels up to that point. In addition, the multiple yyNext: labels
are inappropriate.

I took a look at the code, but I couldn't see an obvious way to fix it
other than generating the yyNext:

[2005-04-21 15:15] skvadrik opened #93 "unused variable `yyaccept'"
The generated code exhibits a (gcc) compiler warning.

unused variable `yyaccept'

Is this a hard thing to get rid of?

thanks,
Jason

Original comment by: *anonymous

[2005-04-22 01:28] skvadrik opened #15 "Re2c fails to generate valid code"
The following re2c code does not get processed correctly:

/*!re2c
(["] ([\000-\255]\["])\+ ["]) { RET(STRING); }
*/

The generated result includes:
case 0x9F:
case 0xA7:
case 0xA8:
case 0xA9:
case 0xA::
case 0xA;:
case 0xA&lt;:
case 0xA=:
case 0xA&gt;:
case 0xA?:
case 0xA@:
case 0xAA:
case 0xAB:

Needless to say, the compiler isn't too happy about this.

--Aaron (sparked@zadzmo.org)

Original com

[2005-05-24 15:20] skvadrik opened #16 "Invalid code with -b option in Visual .NET"
When compiling the last example from the re2c manual
generated with the -b option in Visual .NET 2003 ( with
option /TC - compile as C code) , I get several errors :

simple.c(222) : error C2065: 'yybm' : undeclared identifier
simple.c(222) : error C2109: subscript requires array
or pointer type
simple.c(248) : error C2109: subscript requires array
or pointer type
simple.c(440) : error C2109: subs

[2005-07-05 14:28] skvadrik opened #94 "negated char classes"
Hi,

I think one big addition would be negated char classes,
whose syntax would be like Perl or PHP:
[^abc]

With this, you could build an easier comment parser,
like:
Ccomments = "/*" ([^*]* | "*" [^/])* "*/";
CPPcomments = "//" [^\r\n]*

a dot-all match would also be usefull:
anychar = .
instead of the the char class you use in the examples:
anychar = [\000-\377]

Both these two additions should

[2005-08-04 07:51] skvadrik opened #17 "re2c generate some invalid #line on WIN32"
Here is an excerpt of code generated on WIN32 with the
prebuilt 0.9.9 binary:

yy4:
#line 179
"e:\\prg\\vc\\cppparser4\\src\\lib_cpppreprocessor\\lexer.re"
{ RET(T_DIVIDE); }
#line 295
"e:\prg\vc\cppparser4\src\lib_cpppreprocessor\\lexer.cpp"

Notice the on the second #line, the backslash '\'
directory separator are not escaped. This cause a
forest of warning.

-\- Baptiste.

Original comment by:

[2005-09-21 12:48] skvadrik opened #18 "underestimation of n in YYFILL(n)"
The scanner below fails to match "0.eL" if YYFILL(n) reads
exactly n characters (not more). Same (or similar) problem
with test/cnokw.re (if modified so that YYFILL(n) reads
exactly n characters), with input "0.e+1L".

I believe it is due to an underestimation of 'n' at
state yy00. Probably caused by a change that made
maxDist() to store its result with 't-&gt;depth = maxDist(t)'
and avoiding reca

[2005-09-29 00:01] skvadrik opened #95 "Unicode patch for 0.9.7"
Wanted to enable 16-bit character support as to enable
construction of unicode scanners.

We didn't find a simple way to support the EBCDIC
stuff, so we removed it. Further, for some reason the
use of bit vectors failed in test, so we disabled them as
well.

We added a -w option to enable the Unicode processing
as to keep backward compatibility with 8-bit use (the
stuff mentioned above still disab

[2005-10-04 17:29] skvadrik opened #19 "-e (EBCDIC cross compile) broken"
---- test1.re ----

/*!re2c
[a-z] { printf("Small letter");  }
[\000-\377] { printf( "anyting else" );  }
*/

--------------------
re2c -e test1.re

[a-z] matches some non-letters.
Cause: range boundaries translated to EBCDIC, *then*
interpreted as a range.

-----------------------------------------------------

--- test2.re ---
/*!re2c
. { printf("Anything but newline");  }
[\000-\377] { printf("

[2005-10-05 11:11] skvadrik opened #20 "-e (EBCDIC cross compile) broken"
---- test1.re ----

/*!re2c
[a-z] { printf("Small letter");  }
[\000-\377] { printf( "anyting else" );  }
*/

--------------------
re2c -e test1.re

[a-z] matches some non-letters.
Cause: range boundaries translated to EBCDIC, *then*
interpreted as a range.

-----------------------------------------------------

--- test2.re ---
/*!re2c
. { printf("Anything but newline");  }
[\000-\377] { printf("

[2005-10-23 06:27] skvadrik opened #71 "label_list reimplementation"
re2c-0.9.10 label_list implementation is slow.
Attachment includes a reimplementation (as patch).

Original comment by: *anonymous

[2005-10-23 07:51] skvadrik opened #72 "symbol table reimplementation"
use std::map instead of list

Note: for small number of symbols and symbol references
it is slightly slower, at about 100/100 becomes faster.

Original comment by: *anonymous

[2005-10-27 13:20] skvadrik opened #73 "Avoid rebuilds of re2c when running subtargets"
$ diff -u Makefile.am~ Makefile.am
--- Makefile.am~        2005-10-27 15:18:12.325708800 +0200
+++ Makefile.am 2005-10-27 15:18:23.992484800 +0200
@@ -12,7 +12,7 @@
#CXXFLAGS     = -O2 -Wall -I. -Wno-unused
-Wno-parentheses -Wno-deprecated
YFLAGS       = -d

-RE2C         = re2c
+RE2C         = re2c$(EXEEXT)
RE2CFLAGS    = -s

CLEANFILES   = parser.cc y.tab.c y.tab.h parser.cc
re2c.1 .version

Ori

[2005-11-02 16:30] skvadrik opened #74 "Re: [ 1297658 ] underestimation of n in YYFILL(n)"
&gt; It seems you analyzed this in more detail, could you
perhaps
&gt; create a patch also?

This patch appears to work. Only ran on tests coming
with re2c-0.9.10, but

$ diff cnokw.c cnokw.temp
136c136
&lt;       if((YYLIMIT - YYCURSOR) &lt; 4) YYFILL(4);

---
&gt;       if((YYLIMIT - YYCURSOR) &lt; 5) YYFILL(5);

suggests it is OK. (Other tests show no difference).

----

Original comment by: an

[2005-11-21 14:18] skvadrik opened #75 "Addition to man on flag -f"
patch against
$Id: re2c.1.in,v 1.25 2005/11/11 07:39:53 helly Exp $

Notes:

a) the discussion under (2.) in the patch is probably too
long.  May need to be cut back a little.

b) I am not sure that I discovered all the needed
changes. The "The -f option inhibits declaration of
yych and yyaccept." part surpised me. It is
probably worth to document it.

Original comment by: antalk

[2005-12-20 16:11] skvadrik opened #76 "reorganized sources"
For some time I have been trying to modify re2c to my
needs. Although I did not finish that, for some time I
will not have time to continue. Basically, I
reorganized the sources (more modular and probably
easier to understand), added some comments (mostly for
doxygen) and implemented some changes that I hope
others might find useful, too. Description of changes
is in README.in,
together with some

[2005-12-25 19:38] skvadrik opened #21 "re2c cannot accept {0,}"
It actually crashes if this form is ever used.

I attached a patch and a test case for this bug.

With this branch working it might be possible to
express one of the "factor" alternatives in "parser.y" as:

|   primary close
{
switch($2){
case '*':
$$ = new CloseVOp($1, 0, -1);
break;
case '+':
$$ = new CloseVOp($1, 1, -1);
break;
case '?':
$$ = new CloseVOp($1, 0, 1);
break;
}
}

IMHO, but might

[2005-12-29 16:48] skvadrik opened #96 "homepage should tell what the project does"
The homepage could use a blurb saying what re2c is, like:

re2c is a great tool for writing fast and flexible
lexers. Unlike
other such tools, re2c concentrates solely on
generating efficient
code for matching regular expressions. Not only does
this singleness
make re2c more suitable for a wider variety of
applications, it
allows us to generate scanners which approach
hand-crafted ones in
terms of

[2006-01-16 20:15] skvadrik opened #22 "variable length trailing context is included in tokens"
Example:

/*!re2c

("a"|"b")/[1]    { return KEYWORD; }
("a"|"b")/[0-9]\+ { return KEYWORD; }
[0-9]\+           { return NUMBER;  }

*/

Scanning over "a77 a1 b8 b1" one would expect the
following:
1: KEYWORD = "a"
2: NUMBER  = "77"
3: KEYWORD = "a"
4: NUMBER  = "1"
5: KEYWORD = "b"
6: NUMBER  = "8"
7: KEYWORD = "b"
8: NUMBER  = "1"

Instead re2c scanner returns:
1: KEYWORD = "a77" (!)
2: KEYWORD

[2006-01-17 15:12] skvadrik opened #77 "readsome with MSVC"
The way MS implemented readsome makes it useless for
reading files (ifstream::open does not fill in the
buffer, and the first readsome sees that the buffer is
empty). Replacing readsome to read-gcount pair makes it
work with both VC and g++.
Patch is attached.

Original comment by: alder

[2006-01-17 15:18] skvadrik opened #78 "CharSet initialization fix"
Latest (as of this writing) rev.1.32 in CVS does not
initialize CharSet completely - not yet allocated char
sets need cardinality set to 0. As the result re2c crashes.
Patch is attached.

Original comment by: alder

[2006-01-17 16:03] skvadrik opened #79 "do not generate goto next state"
This is arguably redandand as optimizers will remove
these gotos anyway, but the generated code becomes much
more readable (and maybe it'll help optimizer as well :-).

The attached patch removes gotos that were generated
from the current state to the next one, like in the
following example:

yy37:
++YYCURSOR;
if((yych = *YYCURSOR) == '=')  goto yy96;
goto yy38;

yy38:
{ RET('*'); }

Patched re2c

[2006-01-20 20:09] skvadrik opened #80 "variable length trailing context"
This patch adds to re2c the ability to handle trailing
contexts of variable length (fixes a known "bug" :-)

Test case is attached as well.

For "no trailing context" test case a C scanner was
generated. It matches line by line the expected "test/c.c".

Original comment by: alder

[2006-02-24 15:11] skvadrik opened #81 "expose YYCTXMARKER"
In my initial patch I missed the case that YYFILL
implementation might shift in the buffer an accumulated
token and a partially accumulated trailing context. To
allow YYFILL handle such "shifts" properly we need to
expose the YYCTXMARKER in the same way we always
exposed the YYMARKER.

I attached patches for re2c and htdocs, and new ctx.re.

To test that everything still works I rerun ctx.re
(obvi

[2006-03-20 06:34] skvadrik opened #23 "Piece of code saving a backtracking point not generated"
re2c generates a wrong code that doesn't initialize
YYMARKER in case the backtrack point is the very first
character of the input. The attached patch fixes this
problem.

Use the following script to reproduce the problem.

--test.re
/*!re2c
ALNUM = [0-9a-zA-Z];
ANY = [\000-\377];

"?!" ALNUM* {
}

"?" ALNUM+ {
}

(ANY\"?")* {
}
*/
--test.re--

Before patching (original):
$ re2c test.re | grep "YYM

[2006-04-03 15:51] skvadrik opened #24 "Missing forward declaration"
Getting the following error while trying to compile
re2c on Fedora Core 5.

parser.y: In function 'int yyparse()':
parser.y:87: error: 'mkAlt' was not declared in this
scope
parser.y:114: error: 'mkAlt' was not declared in this
scope
parser.y:138: error: 'mkAlt' was not declared in this
scope
make[1]: *** [parser.o] Error 1
make[1]: Leaving directory `/tmp/re2c-0.10.1'
make: *** [all] Error 2

Ori

[2006-04-03 19:28] skvadrik opened #25 "re2c can not be built on fedora-5"
After just downloading it (v. 0.10.1), untarring, in
the end of ./configure && make I'm receiving:

---
make  all-am
make[1]: Entering directory
`/var/spool/ecbuild/RPM/BUILD/re2c-0.10.1'
if g++ -DHAVE_CONFIG_H -I. -I. -I.     -g -O2 -MT
code.o -MD -MP -MF ".deps/code.Tpo" -c -o code.o code.cc; \
then mv -f ".deps/code.Tpo" ".deps/code.Po"; else rm -f
".deps/code.Tpo"; exit 1; fi
if g++ -DHAVE_CON

[2006-04-19 06:09] skvadrik opened #26 "re2c creates an infinite loop"
The following code produces an infinte loop.
(YYCURSOR is not incremented)

/*!re2c
[^\n\000]* '\n'    { do_this(); }
[^\n\000]* '\000'  { do_that(); }
*/

while this equivalent notation works:

/*!re2c
[^\n\000]* '\n'    { do_this(); }
[^\n\000]\+ '\000'  { do_that(); }
'\000'  { do_that(); }
*/

Original comment by: *anonymous

[2006-04-29 19:14] skvadrik opened #27 "incorrect code generated when using -b"
This bug was reported by Matt Sergeant (msergeant at
startechgroup.co.uk):

Anyway take a look at this. It produces the correct
code if run without the -b flag, but incorrect code
(i.e. it doesn't match) if you run with -b.

(this will probably wrap, unfortunately I don't have a
way to send it without wrapping right now)

#define NULL            ((char*) 0)
#define YYCTYPE         char
#define YYC

[2006-05-25 08:04] skvadrik opened #110 "Linux install failed"
Using (I assume)
gcc version 2.96 20000731 (Red Hat Linux 7.3 2.96-113)

Here's what it spit out:

# make
make  all-am
make[1]: Entering directory `/root/src/re2c-0.10.3'
if g++ -DHAVE_CONFIG_H -I. -I. -I.     -g -O2 -MT code.o -MD -MP
-MF ".deps/code.Tpo" -c -o code.o code.cc; \
then mv -f ".deps/code.Tpo" ".deps/code.Po"; else rm -f ".deps/
code.Tpo"; exit 1; fi
In file included from globals.h:9

[2006-07-25 09:40] skvadrik opened #28 "Invalid code generation"
If the source contains umlauts, wrong code is generated.

Example:
----------------------
void foo()
{
x='ü';
}
----------------------

Generated code:
----------------------
/* Generated by re2c 0.10.5 on Tue Jul 25 11:36:13 2006 */
#line 1 "test.re"
void foo()
{
x='   x='ü';
}
----------------------

you can contact me at:

matthias.meixner(at)thales-e-transactions.de

Original comment by: *anon

[2006-07-27 00:12] skvadrik opened #29 "Segv bug on unterminated code blocks"
This file causes  re2c to crash.

/*!re2c
bw = [ \t];
ew = [ \t.,;!?];

"file"                        { STRPUT(" stash"); }
*/

Original comment by: *anonymous

[2006-08-15 18:47] skvadrik opened #97 "RFE: way for scanner to report subsumed tokens"
hi --

Looking at re2c for SpamAssassin -- it's improved a lot
since the last time I checked ;)  nice work!

one thing, though.  it would be really great if re2c
could track subsumed tokens.  For example:

/*!re2c
"foo"     {return "FOO";}
"food"    {return "FOOD";}
[\000-\377]     { return NULL; }
*/

Assume the input string is "food", and an
appropriately-smart caller who knows to track the
YYCU

[2007-01-30 13:18] skvadrik opened #82 "add const to yybm vector"
# Index: code.cc

--- code.cc     (revision 618)
+++ code.cc     (working copy)
@@ -215,7 +215,7 @@

if (b && bLastPass)
{
-               o &lt;&lt; indent(ind) &lt;&lt; "static unsigned char yybm[] = {";
+               o &lt;&lt; indent(ind) &lt;&lt; "static const unsigned char yybm[] = {";

uint c = 1, n = ub - lb;

Original comment by: nuno-lopes

[2007-04-02 08:25] skvadrik opened #30 "re2c not working"
I tried both 0.11.3 and 0.10.8. I tried with example from man page. This is the result of my small test:

$ cat foo.c
char *scan(char *p)
{
/*!re2c
re2c:define:YYCTYPE  = "unsigned char";
re2c:define:YYCURSOR = p;
re2c:yyfill:enable   = 0;
re2c:yych:conversion = 1;
re2c:indent:top      = 1;
[0-9]\+          {return p;}
[\000-\377]     {return (char*)0;}
*/
}

$ hexdump -C foo.c
00000000  63 68 61

[2007-04-26 21:28] skvadrik opened #31 "segfault in actions.cc"
Happens in 0.10.8, 0.11.3 and trunk.

Example file is attached (auto-generated by sa-compile of SpamAssassin 3.2.0-rc3)

$ gdb /tmp/re2c
GNU gdb Red Hat Linux (6.5-15.fc6rh)
...
This GDB was configured as "i386-redhat-linux-gnu"...Using host libthread_db library "/lib/libthread_db.so.1".

(gdb) run -i -b -o scanner1.c scanner1.re
Starting program: /tmp/re2c -i -b -o scanner1.c scanner1.re

Program

[2007-05-02 12:27] skvadrik opened #32 "problem with '"' and 7F on EBCDIC plattforms"
Hello Peter,

first on:
I only recently discovered re2c in the web. It's a great tool that provides
all the things I've been missing when using flex.
I found out a little problem when using the generated code on ebcdic-platforms.

re2c produces the following code in a switch-statement:
switch(yych)
{
...
case '"':
...
case 0x07F:
...
}

this code can not be compiled on EBCDIC-platforms, because th

[2007-06-25 22:28] skvadrik opened #83 "fwrite with 0 length crashes on OS X"
0.13 and the svn version crash on OS X in stream_lc.h:261. It seems that the fwrite function doesn't handle a count of 0, and gives a bus error. The attached patch adds a test for 0 length before calling fwrite.

With this, the test suite runs fine.

Original comment by: dmcooke

[2007-08-17 11:53] skvadrik opened #33 "Build on AIX"
Hello,
thanks for your work on re2c.

I have a small compilation problem on AIX 5.2/5.3.
During the configure process  the following is inserted in the config.h:

/* Define to 1 if your system has a GNU libc compatible `malloc'
function, and
to 0 otherwise. */
#define HAVE_MALLOC 0
...
/* Define to rpl_malloc if the replacement function should be used. */
#define malloc rpl_malloc

This is cause b

[2008-02-03 19:33] skvadrik opened #34 "code generation error"
consider the following example

/*!re2c
[0-9a-zA-Z+.\-]* ":" { schema given; }
[0-9a-zA-Z+.\-]* [^:\000?;#] [^\000?;#]* { netloc; }
[0-9a-zA-Z+.\-]* { path given; }
*/

The algorithm takes an URL.
http://www.sf.net/
The generated code chooses the case 2)
although it should select the case 1)

The generated code doesnt have such an error in case the regexp admitting schema symbols is omitted.

/*!r

[2008-04-02 21:01] skvadrik opened #98 "Transparent handling of #line directives in input files"
I was playing around with a project where I pass the re2c input file through a preprocessor (m4) first. For best results in this situation, it's best if re2c can handle #file directives in its input file.

The attached patch to 0.13.3 accomplishes this. While it takes reasonable precautions against false matches for #line directives, it does not strictly check for the directives to start at the be

[2008-04-27 17:45] skvadrik opened #35 "regression"
This file was successfully parsed with re2c 0.13.1 and several earlier versions. After upgrading to 0.13.4 I get a lot of weird errors

http://code.whytheluckystiff.net/svn/syck/trunk/lib/token.re

It seems, that it has something to do with comment-blocks, because changing comment-blocks leads to change in reported errors

Original comment by: indeyets

[2008-04-27 18:41] skvadrik opened #36 "segfault in re2c::Scanner::scan"
command: re2c -bi token.re

Program received signal EXC_BAD_ACCESS, Could not access memory.
Reason: KERN_INVALID_ADDRESS at address: 0x01000000
0x0003d290 in re2c::Scanner::scan (this=0xbfffed50) at scanner.cc:1461
1461        yych = *YYCURSOR;

(gdb) bt
#0  0x0003d290 in re2c::Scanner::scan (this=0xbfffed50) at scanner.cc:1461
#1  0x00025138 in yylex () at parser.y:460
#2  0x00025ba8 in yyparse

[2008-05-07 16:45] skvadrik opened #99 "re2c:ignore instead of ignore:re2c ?"
Hello!

I found it surprising that to-be-ignored comments are marked with "ignore:re2c", while all other re2c directives start with "re2c:"

Original comment by: lindevel

[2008-05-07 16:48] skvadrik opened #37 "GCC 4.1 patch"
Attached is a patch which Gentoo uses since a while, but which has not yet been included into upstream.

Original comment by: lindevel

[2008-05-07 21:22] skvadrik opened #38 "Segfault for debug scanners"
In debug mode re2c generates code like this:
YYDEBUG(0, *YYCURSOR);
if ((YYLIMIT - YYCURSOR) &lt; 11) YYFILL(11);

However before the scanner was filled, "cursor" will be NULL. (At least for the examples.)

I assume YYCURSOR should be filled before trying to access it. I.e. YYDEBUG after YYFILL.

Original comment by: lindevel

[2008-07-25 21:38] skvadrik opened #100 "re to C#"
generate code for C#
- chars from strong,
- byte[]
- unsafe byte* (easy to develop)

Original comment by: *anonymous

[2008-08-05 09:11] skvadrik opened #39 "ebcdic problem"
Hi all,

I still have a problem with re2c on EBCDIC platforms like
stated in request: 1711240.

Like I told you, I changed re2c to produce only hexnumbers instead of 'named' characters like '"'.
This worked fine.

Now I updated to version 0.13.5 and I still have the problem that switches on EBCIDIC platforms get inconsistent.

I'm using the -w option.

Despite that: re2c is great!

Regards

Thomas

[2008-09-02 09:48] skvadrik opened #40 "Compile problemon AIX"
Hello,
re2c 0.13.1 did work with IBM XLC/C++ 8.0 (AIX 5.2) and 9.0 (AIX 6.1). The new 0.13.5 is no longer working with IBM XLC/C++ 8.0 and 9.0.

I get an error about:
"substr.h", line 39.9: 1540-1283 (I) "re2c::Str::Str(const re2c::SubStr &)" is not a viable candidate.

Any ideas ??
Please see attached make log.
Feel free to ask for more information.

Bye
Rainer

Original comment by: tammer

[2008-09-09 14:28] skvadrik opened #42 "Duplicate case labels on EBCDIC"
Problem submitted by:  wharmby@uk.ibm.com

Hi All,

I using re2c version 0.13.5 and I am seeing a problem that looks very similar to tracker 11711240 which I believe is fixed in 0.13.5.

Another EBCDIC issue was fixed a few days ago (2038610) but this appears related to the -w option which I am not using.

When I run re2c with the -e option I get lots of errors when compiling the resulting C file

[2008-10-22 12:24] skvadrik opened #41 "unescaped backslash in file name of #line directive"
To reproduce run re2c on a Windows machine and specify input and output files using full paths (with path
components separated by '\'), e.g.
re2c -o c:\temp\calc_001.c c:\temp\calc_001.re

In the output file some #line directive will look like

#line 1 "c:\temp\calc_001.re"

with '\' not escaped and some with '\' escaped as in

#line 24 "c:\\temp\\calc_001.c"

I believe that paths should be escape

[2008-11-14 18:52] skvadrik opened #101 "Support for POSIX character classes"
It would be great if re2c supported POSIX character classes, which would help simplify and unclutter some lexer specifications.

Original comment by: rui_maciel

[2008-11-14 23:01] skvadrik opened #102 "Source code lacks comments"
The source code currently available in the trunk has only 140 comments among 7686 lines of code. The lack of comments, along with cryptic method names, means that it is needlessly hard to understand what is being done by the code.

It would be nice if the code had more comments explaining the purpose of the methods and functions being used, along with brief explanations of what is being performed

[2008-12-07 19:58] skvadrik opened #111 "Using re2c without a EOF sentinel token"
Is there a way to use re2c to scan a buffer without the use of a sentinel token to act as EOF?  I want to scan a region between two pointers e.g. I want to run re2c like:

scan(char *start, char *end) {
/*!re2c
...
*/
}

and only scan data between start and end with no sentinel token like "\0"

Original comment by: *anonymous

[2008-12-08 18:52] skvadrik opened #112 "YYFill bounds checking insufficient"
Looking at the generated code from re2c's examples directory, re2c calls
YYFILL(n) with an n value of at least the size of the longest possible
match. e.g.

/*!re2c
"a" { return 0; }
"b"{6} { return 1; }
*/

will generate:

if ((YYLIMIT - YYCURSOR) &lt; 6) YYFILL(6);

If we use this value to check for end of buffer, re2c will quit before
matching "a" if it is in the last 5 characters of the buffer

[2008-12-21 12:28] skvadrik opened #113 "tried build but the result was not correct"
I downloaded re2c-0.13.5 from this site, unpacked it in a dir on my VPS. Executed the instructions:
./configure
make
obtained:
[~/src/re2c-0.13.5]$ ls -l re2c
-rwxr-xr-x  1 dirw vuser 1284763 Dec 21 05:10 re2c

On my pc (ubuntu):
-rwxr-xr-x 1 root root 148648 2008-04-03 13:50 /usr/bin/re2c

it's 8 time bigger.
I think there's a problem. In any case when I launch the first I have:
[~/src/re2c-0.13.

[2008-12-23 22:09] skvadrik opened #43 "Infinite loop in generated code with -c"
The code generated by "re2c -c" contains an infinite loop:

yy0:
switch (YYGETCONDITION()) {
case yycX: goto yyc_X;
}
/* *********************************** */
yyc_X:
goto yy0;

re2c 0.13.3 on Ubuntu 8.10
stoklund@2pi.dk

Original comment by: *anonymous

[2008-12-31 03:07] skvadrik opened #84 "Wrong start_label in -c mode"
Re: Bug #2462777: Infinite loop in generated code with -c

There is a bit of confusion about the meaning of start_label in DFA::emit() when using -c.

The global start label is the point immediately before the code generated by genCondGoto() (YYGETCONDITION+goto condition).
This is where re2c:startlabel should be and it should be the default target for genGetStateGoto() when state==-1.

The local

[2009-01-02 16:11] skvadrik opened #44 "Access violation when translating the attached file"
Translating the attached file with re2c 0.13.5 for Windows causes access violation in re2c executable. Removing arbitrary parts (even unrelated to re2c rules) from the input file eliminates the problem.

Original comment by: *anonymous

[2009-01-02 16:29] skvadrik opened #85 "Error in manual section on -r mode"
The attached patches fix a couple of mistakes in the manual and error message.

Original comment by: *anonymous

[2009-01-02 16:35] skvadrik opened #86 "Typos in error messages"
I didn't find how to attach the second patch to the bug 2482561 so created this bug only to provide the attachment.

Original comment by: *anonymous

[2009-01-14 05:19] skvadrik opened #103 "Allow C++ // comments"
I may not be the only person in the world who is used to the C++ style of comment to end of line with //. It seems a rather benign change. The attached patch is for svn -r897. (If it is the wrong format or something, please let me re-do it, as I am rather a newbie at the patch system.)

BTW: thanks to all who are maintain re2c, which is a fine program.

Original comment by: paulmcq

[2009-01-25 09:59] skvadrik opened #45 "re2c 0.13.5 not compile with Sun C"
re2c 0.13.5 not compile with Sun C compiler at Solaris 10 x64:

CC -DHAVE_CONFIG_H -I.      -g -c -o parser.o parser.cc
"parser.y", line 98: Warning (Anachronism): Assigning std::pair&lt;unsigned, re2c::RuleOp*&gt; to std::pair&lt;int, re2c::RegExp*&gt;.
"parser.y", line 98: Error: Cannot cast from std::pair&lt;unsigned, re2c::RuleOp*&gt; to std::pair&lt;int, re2c::RegExp*&gt;.
1 Error(s) and 1 Wa

[2009-09-18 11:24] skvadrik opened #104 "Improve const-correctness"
Would you like to apply the advices from the article "http://en.wikipedia.org/wiki/Const-correctness" to more places in your sources?
I suggest to add the key word "const" to the type specifiers for parameters like the following.
r1, r2 (function "doDiff")
rep (function "MatchOp::calcSize")
http://re2c.svn.sourceforge.net/viewvc/re2c/trunk/re2c/actions.cc?revision=896&view=markup
http://re2c.svn.s

[2009-09-18 13:21] skvadrik opened #105 "Conversion of pointer parameters into references"
I suggest to convert a parameter like "i" (function "compile") and "Go" (function "find") from a pointer to a reference so that further tests can be omitted because the intended check can be performed at compile time.
http://en.wikipedia.org/wiki/Reference\_\(C%2B%2B\)\#Relationship\_to\_pointers

Can such an interface design adjustment be applied on other places in the source code, too?
http://re

[2009-12-24 20:57] skvadrik opened #47 "Building re2c after a make clean will fail"
Building re2c after a make clean will fail:

# cd re2c-0.13.5

# ./configure
&lt;-- snipped --&gt;

# make
&lt;-- snipped --&gt;

# make clean
test -z "re2c" || rm -f re2c
test -z "parser.cc y.tab.c y.tab.h scanner.cc re2c.1 .version
htdocs/manual.html" || rm -f parser.cc y.tab.c y.tab.h scanner.cc re2c.1
.version htdocs/manual.html
rm -f *.o

# ./configure
&lt;-- snipped --&gt;

# make
yacc -d ./

[2010-01-12 13:45] skvadrik opened #48 "Filename's not always escaped"
In msvc I get warnings about invalid escape sequences. This is caused by the fact that the first and last couple of #line statements use unescaped filenames.
The attached patch corrects the problem.

Original comment by: swaan79

[2010-01-24 14:50] skvadrik opened #106 "Make "match at least/exactly n times" code rely on counter"
If a user needs to rely on the "match at least n times" or "match exactly n times" regular expression, re2c ends up generating a separate state for each match.  That has the very nasty effect of ballooning the size of the generated source code, particularly if the user needs to match long instances of a certain regex pattern.

Possibly a good way to sidestep this problem is to rely on a counter in

[2010-09-29 13:34] skvadrik opened #114 "Possibility of fixing bug 2535084"
What are the possibilities of getting bug 2535084 addressed?

Original comment by: jlewing

[2011-04-12 10:01] skvadrik opened #49 "wildcard state \000 rules makes lexer behave weard"
Hi,

Using a &lt;*&gt; "\000" rule make the parser behave weard : It matches the rule at a place where it shouldn't. I've make a testcase that shows the behaviour. Tarball is available on http://www.palsenberg.com/plain/test-re2c.tar.gz

If you need more info : Please let me know.

Original comment by: palsenberg

[2011-05-20 18:38] skvadrik opened #50 "Replace C++-style comment with C-style comment"
re2c generates files with a C++-style comment at the start of the file, similar to the following comment:

/* Generated by re2c 0.13.5 on Fri May 20 19:31:54 2011 */

If a re2c-user is planning to rely on re2c to generate files which will be compiled in a C90-only build environment then, as C90 doesn't support C++-style comments, the compiler can throw an error.

It would be great if re2c generate

[2011-05-27 13:57] skvadrik opened #107 "Allow Yacc-style code brackets"
Yacc and Bison use %{ and %} brackets for the same function that Re2c expresses by /*!re2c and */. Many development tools, especially editors, handle %{ blocks %} very well, but treat the Re2c blocks as comments, which messes up their syntax-highlighting and so forth. This feature allows %{ and %} as block delimiters in Re2c. Existing correct Re2c programs are not impacted, as the new character co

[2012-06-03 09:33] skvadrik opened #108 "Create a new release"
There appear to be some commits since the last tag was created 4 years ago. It would be nice to have them in a new release.

Original comment by: devurandom

[2013-07-03 21:26] skvadrik opened #87 "Man page fixes"
I noticed a couple minor issues with the man page.

Original comment by: ksherlock

[2013-10-07 11:27] skvadrik opened #10 "lessons/002_upn_calculator/calc_002 doesn't produce a useful example program"
The problem is the fill() routine; if there are less than 3 characters to fill, it just fails, and doesn't try to do anything with the data.

For example:
$ ./a.out "1"
OOD

$ ./a.out "12"
OOD

$ ./a.out "123"
Num
EOF

$ ./a.out "1+1"
Num
+
OOD

$ ./a.out "1+12"
Num
+
OOD

$ ./a.out "1+123"
Num
+
Num
EOF

Original comment by: marjaholtta

[2014-06-14 07:17] skvadrik opened #8 "re2c generates an infinite loop, depends on existence of previous parser"
This example program causes re2c generate a parser that is stuck in an infinite loop.

[code]

Expected outcome: On any input, the program prints "exit 0"
Outcome: On any input that does not begin with "a", "b" or "c", the program gets stuck in an infinite loop.

The existence of the previous parser (the "dummy rule" above) is important. Without it, the bug does not trigger.

Tested re2c versions:

[2014-07-12 12:46] skvadrik opened #54 "Dot output label escaped characters"
Latest version 0.13.6 doesn't escape "\" in dot graph output for escape sequences like "\n" or "\r".
Dot appears to interpret many of the same escape sequences and hence are not visible in the rendered graph.
A simple fix would be to escape the escape character (i.e. replace all "\" with "\\") in dot labels.
Additionally, the space character is invisible too, so something like label="\" \"" would

[2014-10-03 15:31] skvadrik opened #6 "segfault"
re2c segfaults on the input file attached:

$ re2c -c segfault_1.re
Segmentation fault

Original comment by: skvadrik

[2014-10-03 15:35] skvadrik opened #2 "abort"
re2c aborts on this input file:

$ re2c -c aborted_1.re
re2c: code.cc:2136: void re2c::genTypes(std::string&, re2c::uint, const RegExpMap&): Assertion `itSpecMap->second.first >= 0' failed.
Aborted

but seems to produce a correct error message on a similar one:

$ re2c -c aborted_error_1.re
re2c: error: line 2, column 1: setup for non existing rule 'c2' found

Original comment by: skvadrik

[2014-10-03 15:40] skvadrik opened #53 "setup rules don't work in reuse mode"
re2c claims that setup rule is redefined, but it's not true:

$ re2c -rc 1.re
re2c: error: line 6, column 9: code to setup rule 'r1' is already defined

Original comment by: skvadrik

[2014-10-03 15:43] skvadrik opened #52 "default rule doesn't work in reuse mode"
re2c claims that default rule is redefined, but it's a lie:

$ re2c -rc 2.re
re2c: error: line 6, column 9: code to default rule 'r1' is already define

Original comment by: skvadrik

[2014-10-03 15:56] skvadrik opened #4 "eliminate multiple passes"
re2c makes unnecessary passes.
It adds a lot of complexity and bugs.
Should do all work in a single pass.

Original comment by: skvadrik

[2014-10-03 16:23] skvadrik opened #51 "add named re2c:rules blocks"
re2c should allow multiple re2c:rules blocks.
Different blocks should be addressed somehow, e.g. by name.

Original comment by: skvadrik

[2014-10-03 16:32] skvadrik opened #55 "allow standard re2c blocks in reuse mode"
Reuse mode shouldn't confront with normal mode.

Original comment by: skvadrik

[2014-12-05 10:36] skvadrik opened #109 "Support to configure how re2c code interfaced with the symbol buffer?"
It would be great if re2c could be configured to interface with the parser buffer through interfaces other than dereferencing pointers to an array.

Currently, re2c assumes that the buffer is a C array and is operated directly through pointers to it.  Consequently, YYCURSOR is assumed to be an l-value of type * YYCTYPE.  Therefore, re2c generates code to access the current symbol and next symbol,

[2015-02-27 23:17] skvadrik opened #56 "re2c-0.14: re2c -V outputs null byte"
[code]

This happens to break the ninja configure.py script, since python will not parse the null byte at offset 5.

https://github.com/martine/ninja/blob/master/configure.py#L426

Original comment by: floppym

[2015-03-04 16:33] skvadrik opened #60 "invalid .dot output"
re2c is generating invalid .dot file (mixed with snippets of C/C++ code)

Original comment by: skvadrik

[2015-03-25 14:16] skvadrik opened #57 "Wrong result only if another rule is present"
The following program produces the wrong result

[code]

If the first rule `[<]...` is removed, the correct result is produced:

[code]

This could be reproduced with re2c 0.13.7.5 and 0.14.1. Versions 0.13.5 and 0.13.6 work fine.

(This is a reduced testcase. The problem was discovered in a more complicated scanner in libcmark.)

[code]

Original comment by: nwellnhof

[2015-04-11 08:00] skvadrik opened #58 "Windows distfiles are broken"
re2c-0.14.2/README says to run ./configure

I can't find a configure file anywhere, and the text before that in the README file doesn't say how to produce one.

Original comment by: daveyost

[2015-05-20 01:49] skvadrik opened #88 "re2c crashes reading files containing %{ %}"
Seem to be a bug related to hard-coded string length.

Patch:

[code]

Original comment by: z-rui

[2015-06-04 10:42] skvadrik opened #46 "bogus 'yyaccept' in '-c' mode"
Consider the following re2c source (1.re):

[code]

Build and grep all 'yyaccept' and 'yyc_' (condition borders):

[code]

What do we have here? Condition 'c1' assigns 'yyaccept' a value but never uses it (because it doesn't need it).

Reproduced with 0.13.6, 0.14.2 and HEAD.

Original comment by: skvadrik

[2015-06-05 23:03] skvadrik opened #61 "redundant use of YYMARKER"
Consider the following re2c source (1.re):

[code]

Build and grep YYMARKER and condition borders:

[code]

Condition c2 needs YYMARKER (it backups and restores YYCURSOR). Condition c1 doesn't need YYMARKER (it never restores YYCURSOR, but backups it).

With HEAD the bug emerges even without '-c':

[code]

Build and grep:

[code]

Note: It may be not so obvious that YYMARKER is redundant. One may

[2015-06-11 16:38] skvadrik opened #59 "empty character class [] matches empty string"
E.g. the following source:

[code]

compiles to the following code:

[code]

Reproducible with 0.13.6, 0.14 and HEAD (and seems that it has always been that way). It of course should never match (and preferably report a warning).

Original comment by: skvadrik

[2015-07-23 22:41] #1 closed, assigned to skvadrik

[2015-07-23 22:42] #3 closed, assigned to skvadrik

[2015-07-23 22:42] #5 closed, assigned to skvadrik

[2015-07-23 22:42] #7 closed, assigned to skvadrik

[2015-07-23 22:42] #8 closed, assigned to skvadrik

[2015-07-23 22:42] #9 closed, assigned to skvadrik

[2015-07-23 22:42] #11 closed, assigned to skvadrik

[2015-07-23 22:42] #12 closed, assigned to skvadrik

[2015-07-23 22:42] #13 closed, assigned to skvadrik

[2015-07-23 22:42] #14 closed, assigned to skvadrik

[2015-07-23 22:42] #15 closed, assigned to skvadrik

[2015-07-23 22:42] #16 closed, assigned to skvadrik

[2015-07-23 22:42] #17 closed, assigned to skvadrik

[2015-07-23 22:42] #18 closed, assigned to skvadrik

[2015-07-23 22:43] #19 closed, assigned to skvadrik

[2015-07-23 22:43] #20 closed, assigned to skvadrik

[2015-07-23 22:43] #21 closed, assigned to skvadrik

[2015-07-23 22:43] #22 closed, assigned to skvadrik

[2015-07-23 22:43] #23 closed, assigned to skvadrik

[2015-07-23 22:43] #24 closed, assigned to skvadrik

[2015-07-23 22:43] #25 closed, assigned to skvadrik

[2015-07-23 22:43] #26 closed, assigned to skvadrik

[2015-07-23 22:43] #27 closed, assigned to skvadrik

[2015-07-23 22:43] #28 closed, assigned to skvadrik

[2015-07-23 22:43] #29 closed, assigned to skvadrik

[2015-07-23 22:43] #30 closed, assigned to skvadrik

[2015-07-23 22:43] #31 closed, assigned to skvadrik

[2015-07-23 22:43] #32 closed, assigned to skvadrik

[2015-07-23 22:43] #33 closed, assigned to skvadrik

[2015-07-23 22:43] #34 closed, assigned to skvadrik

[2015-07-23 22:44] #35 closed, assigned to skvadrik

[2015-07-23 22:44] #36 closed, assigned to skvadrik

[2015-07-23 22:44] #37 closed, assigned to skvadrik

[2015-07-23 22:44] #38 closed, assigned to skvadrik

[2015-07-23 22:44] #39 closed, assigned to skvadrik

[2015-07-23 22:44] #40 closed, assigned to skvadrik

[2015-07-23 22:44] #41 closed, assigned to skvadrik

[2015-07-23 22:44] #42 closed, assigned to skvadrik

[2015-07-23 22:44] #43 closed, assigned to skvadrik

[2015-07-23 22:44] #45 closed, assigned to skvadrik

[2015-07-23 22:44] #46 closed, assigned to skvadrik

[2015-07-23 22:44] #47 closed, assigned to skvadrik

[2015-07-23 22:44] #48 closed, assigned to skvadrik

[2015-07-23 22:44] #50 closed, assigned to skvadrik

[2015-07-23 22:45] #54 closed, assigned to skvadrik

[2015-07-23 22:45] #56 closed, assigned to skvadrik

[2015-07-23 22:45] #57 closed, assigned to skvadrik

[2015-07-23 22:45] #58 closed, assigned to skvadrik

[2015-07-23 22:45] #59 closed, assigned to skvadrik

[2015-07-23 22:45] #60 closed, assigned to skvadrik

[2015-07-23 22:45] #61 closed, assigned to skvadrik

[2015-07-23 22:50] #62 closed, assigned to skvadrik

[2015-07-23 22:50] #63 closed, assigned to skvadrik

[2015-07-23 22:50] #64 closed, assigned to skvadrik

[2015-07-23 22:50] #65 closed, assigned to skvadrik

[2015-07-23 22:50] #66 closed, assigned to skvadrik

[2015-07-23 22:50] #67 closed, assigned to skvadrik

[2015-07-23 22:50] #68 closed, assigned to skvadrik

[2015-07-23 22:50] #69 closed, assigned to skvadrik

[2015-07-23 22:50] #70 closed, assigned to skvadrik

[2015-07-23 22:50] #71 closed, assigned to skvadrik

[2015-07-23 22:51] #72 closed, assigned to skvadrik

[2015-07-23 22:51] #73 closed, assigned to skvadrik

[2015-07-23 22:51] #74 closed, assigned to skvadrik

[2015-07-23 22:51] #75 closed, assigned to skvadrik

[2015-07-23 22:51] #76 closed, assigned to skvadrik

[2015-07-23 22:51] #77 closed, assigned to skvadrik

[2015-07-23 22:51] #78 closed, assigned to skvadrik

[2015-07-23 22:51] #79 closed, assigned to skvadrik

[2015-07-23 22:51] #80 closed, assigned to skvadrik

[2015-07-23 22:51] #81 closed, assigned to skvadrik

[2015-07-23 22:51] #82 closed, assigned to skvadrik

[2015-07-23 22:51] #83 closed, assigned to skvadrik

[2015-07-23 22:51] #84 closed, assigned to skvadrik

[2015-07-23 22:51] #85 closed, assigned to skvadrik

[2015-07-23 22:51] #86 closed, assigned to skvadrik

[2015-07-23 22:51] #87 closed, assigned to skvadrik

[2015-07-23 22:52] #89 closed, assigned to skvadrik

[2015-07-23 22:52] #90 closed, assigned to skvadrik

[2015-07-23 22:52] #91 closed, assigned to skvadrik

[2015-07-23 22:52] #92 closed, assigned to skvadrik

[2015-07-23 22:52] #93 closed, assigned to skvadrik

[2015-07-23 22:52] #94 closed, assigned to skvadrik

[2015-07-23 22:52] #95 closed, assigned to skvadrik

[2015-07-23 22:52] #96 closed, assigned to skvadrik

[2015-07-23 22:52] #97 closed, assigned to skvadrik

[2015-07-23 22:52] #99 closed, assigned to skvadrik

[2015-07-23 22:52] #100 closed, assigned to skvadrik

[2015-07-23 22:53] #101 closed, assigned to skvadrik

[2015-07-23 22:53] #102 closed, assigned to skvadrik

[2015-07-23 22:53] #103 closed, assigned to skvadrik

[2015-07-23 22:53] #107 closed, assigned to skvadrik

[2015-07-23 22:53] #108 closed, assigned to skvadrik

[2015-07-23 22:54] #110 closed, assigned to skvadrik

[2015-07-23 22:54] #111 closed, assigned to skvadrik

[2015-07-23 22:54] #112 closed, assigned to skvadrik

[2015-07-23 22:54] #113 closed, assigned to skvadrik

[2015-07-24 18:57] #109 closed

[2015-07-24 19:08] #88 closed

[2015-07-28 12:24] skvadrik opened #115 "flex-style named definitions cause ambiguity in re2c grammar"
Bison reports 10 shift/reduce conflicts when compiling re2c parser. Turns out that all of them are caused by one unfortunate production in grammar:
[code]
which stands for flex-style named definitions of the form:
[code]
re2c tries to partially support flex syntax with '-F' flag. Native re2c named definitions are of the form:
[code]
Another notable difference is that re2c allows newlines inside of

[2015-07-30 12:43] skvadrik opened #116 "empty string with non-empty trailing context consumes code units"
Given the following code:

[code]

re2c generates:

[code]

On strings starting with "a" this lexer will consume single code unit ('a') and advance YYCURSOR to code unit next to 'a'. This is clearly not what was intended.

Lookahead is a useful feature and this should be fixed.

[2015-07-30 12:54] skvadrik opened #117 "documentation for default case handling"
As of now, I can think of at least three flavours of "defailt rule" in re2c:
- old default rule `[^]`, which means "match any _code point_", consumes one or more code units (depending on encoding) and has normal priority;
- new default rule `*`, which means "match any _code unit_" , consumes exactly one code unit and has the lowest priority;
- empty string rule `""` (as well as, `'`', `"" / ""` ,

[2015-07-30 14:59] skvadrik commented on #115
Fixed by forbidding newlines in flex-style named definitions. Turned out to be quite easy due to a hack in lexer.

https://github.com/skvadrik/re2c/commit/e02b761a748833293b39fd69766f8073c0e6fe29#diff-9351147abfd7dc33744eaa3f4f30f371R199

[2015-07-30 14:59] #115 closed

[2015-08-10 21:43] skvadrik opened #118 "case sensitivity in unicode"
For non-ASCII character sets (encodings UTF-8, UTF-16, UTF-32, UCS-2 and EBCDIC) re2c should treat uppercase/lowercase letters differently.

The following example should match uppercase and lowercase letter 'ы':

[code]

re2c generates code that matches only lowercase letter:

[code]

[2015-08-12 12:46] skvadrik commented on #118
Note: cannot use 'towlower/towupper' standard functions as they depend on locale being in use. The only standard locales are `"C"` and `""` (default): users may not have the appropriate locale. We need to do this manually.

[2015-08-25 10:12] skvadrik opened #119 "-f with -b/-g generates incorrect dispatch on fill labels"
Consider the following example 1.re:

[code]

With `-if`, re2c would generate correct dispatch:

[code]

With `-bif`  all positive `YYGETSTATE()` values will lead to `yyFillLabel0`, which is clearly an error: values that are greater than `0` should lead to `yy0`:

[code]

With `-gif` the error is different: all values greater than `0` now cause undefined behaviour (access to memory not within arra

[2015-08-25 10:58] skvadrik commented on #119
Fixed, see [this commit](https://github.com/skvadrik/re2c/commit/ef3502b09c491ecc6d9d5ddeba3020c0315947d8). Now re2c with `-f` always generates simple switch.

[2015-08-25 10:58] #119 closed

[2015-09-15 12:01] skvadrik opened #120 "condition consisting of default rule only is ignored"
Given the following code (1.re):

[code]

expected output:

[code]

actual output:

[code]

[2015-10-01 21:16] skvadrik opened #121 "trailing contexts are fundamentally broken"
When there are multiple overlapping trailing contexts, re2c-generated code may set incorrect `YYCTXMARKER` value. The following example fails on input string that matches pattern `"abb" [^c]`: rule `1` matches and should consume single character `a`, but it consumes `ab` because `YYCTXMARKER` gets overwritten when trying to match rule `0`.

Source code (1.re):
[code]
Generated code:
[code]

[2015-10-01 21:25] skvadrik commented on #121
This is because re2c tries to implement variable-length trailing contexts using single pointer (`YYCTXMARKER`). Initially re2c supported only fixed-length trailing contexts, but this was changed by commit `9c2ee72734b2965a16d88d93a9fe14b7dd2dc6e3`: "- Applied #1411087 variable length trailing context.".

Of all re2c tests, only very few are affected (re2c own lexer and one of example lexers).

The

[2015-10-02 08:42] skvadrik commented on #121
This problem is related to the general problem of extracting submatch in regular expressions, which requires either NFA or TDFA (DFA with tagged transitions).

The problem is exposed by the following example:
[code]
For which re2c generates this code:
[code]
Clearly, this code sets `YYCTXMARKER` incorrectly.

I can think of two ways to solve this problem: either implement TDFA or report error in c

[2015-10-04 18:41] skvadrik commented on #116
Fixed in this [commit](https://github.com/skvadrik/re2c/commit/14911dbae5c1ba0d920d179a0e02a8950849d811).

[2015-10-04 18:41] #116 closed

[2015-11-20 22:41] #4 closed

[2015-11-20 23:02] #52 closed

[2015-11-27 06:57] otaran opened #122 "clang does not compile re2c 0.15.x"
### Steps To Reproduce

1. Download https://github.com/skvadrik/re2c/archive/0.15.tar.gz, unpack and `cd` to root directory
2. Run `git init` (otherwise `./re2c/autogen.sh` will fail with error `fatal: Not a git repository (or any of the parent directories): .git`)
3. Run `cd re2c` (otherwise `./re2c/autogen.sh` will fail with error `autoreconf: 'configure.ac' or 'configure.in' is required`)
4. Ru

[2015-11-27 09:25] skvadrik commented on #122
Hi Oleksii!

On my system ```size_t``` is a simple typedef, same as ```uint64_t```, so compiler uses one of the overloads and everything is fine. The problem is described e.g. [here](http://stackoverflow.com/questions/11603818/why-is-there-ambiguity-between-uint32-t-and-uint64-t-when-using-size-t-on-mac-os). I'll make a fix, but I cannot check if it works on OS X before releasing 0.15.3. Would you

[2015-11-27 14:54] skvadrik commented on #122
Fixed in HEAD (in this commit: https://github.com/skvadrik/re2c/commit/499537c8f356aee6c575eb5df374270db0e3c893).
I'm planning to release re2c-0.15.3 by the end of the day.

[2015-11-27 20:04] otaran commented on #122
Hi Ulya,

It did fix the original build error, but it revealed a bunch of new errors (error log is too log, please see http://pastebin.com/Yjmgiyuj). I think there is no point in releasing `0.15.3` because `re2c` is still can't be compiled on OS X. I will investigate why build started to fail all of a sudden.

[2015-11-27 20:08] otaran commented on #122
There is no `./re2c/configure` script in archive available at https://github.com/skvadrik/re2c/archive/0.15.2.tar.gz:

[code]

[2015-11-27 20:19] skvadrik commented on #122
On 11/27/2015 08:08 PM, Oleksii Taran wrote:

Seems that you downloaded wrong tarball. The right one is here
http://re2c.org/install/install.html (the same one on github page
https://github.com/skvadrik/re2c/releases). How did you get that link?

[2015-11-27 20:42] otaran commented on #122
Oops, you are right, I was downloading from link "Source Code" on https://github.com/skvadrik/re2c/releases, but actually I should have downloaded `re2c-0.15.2.tar.gz` archive directly.

[2015-11-27 23:17] skvadrik commented on #122
Build failure on OS X is caused by the same problem: on OS X ```size_t``` is a type alias of ```unsigned long long```, which is neither ```uint32_t``` (type alias of ```unsigned int```), nor ```uint64_t``` (type alias of ```unsigned long```) .

On my platform there is no ambiguity: ```size_t``` is ```unsigned long``` and ```uint64_t``` overload is exact match.

There is a similar problem when buil

[2015-11-28 03:23] otaran commented on #122
There is more than that:

[code]

[2015-11-28 04:37] otaran commented on #122
I have managed to build `re2c` on OS X (see #123). Unfortunately built `re2c` binary fails the majority of tests (577 out of 975), most of them due to some kind of memory corruption:

[code]

[2015-11-28 10:13] skvadrik commented on #122
Hmm, interesting! On my platform bison (version 2.4.3) generates token definitions like this:

[code]

Which is certainly different from ```#define CODE 260```. The fix is easy (as you suggested, prefix token names with something). But out of curiosity, what version of bison do you use?

Next, test failures. I regularly run tests under valgrind to catch all memory errors and undefined behaviours,

[2015-11-28 16:56] skvadrik commented on #122
Managed to reproduce test failures on FreeBSD-10.2. (578 out of 977 tests failed with segfaults, so the error must be the same as on OS X). Looking into it.

[2015-11-28 17:51] skvadrik commented on #122
This commit https://github.com/skvadrik/re2c/commit/8a361fe0b3e482302749fde5d7ffd33f318214a1 fixes test crashes on FreeBSD-10.2 with clang-3.4. It is very likely to fix tests on OS X as well.

[2015-11-28 18:39] skvadrik commented on #122
Some tests are still failing due to ```sed``` adding newlines in the end of file.

[2015-11-28 19:10] otaran commented on #122
Looks better now, only 27 out of 975 tests failed.

OS X comes with `bison 2.3`:
[code]

Latest bison (`3.0.4`) generates output that is completely different from code in repository so I didn't test if generated code will be built into valid `re2c`.

[2015-11-28 19:17] otaran commented on #122
Did you try running `make vtests` on FreeBSD? When I run `make vtests` on OS X, every single test fails. It looks like `valgrind` concatenates its own output to generated `*.c` files, thus `*.c.diff` are always not empty. I wonder if this is due to some `valgrind` configuration which is different on OS X.

[2015-11-28 20:26] skvadrik commented on #122
I did try to build with bison-3.0.4, everything seems to be ok (builds and tests pass except those 27 expected failures).

Could you show an example of ```.c``` file with valgrind's output?

[2015-11-28 20:30] otaran commented on #122
http://pastebin.com/ZbcCAqDe

[2015-11-28 20:54] skvadrik commented on #122
Seems that it's an OS X specific memory leak in ```ctime```:

[code]

re2c calls ```ctime``` on every input file (when it dumps generation date). We run valgrind with ```-q``` and concatenate valgrind's output and normal output. If there where no errors, the output remains untouched.

You can suppress this particular error using valgrind's suppressions mechanism: http://valgrind.org/docs/manual/ma

[2015-11-30 12:47] skvadrik commented on #122
Fixed the rest of tests, see this commit: https://github.com/skvadrik/re2c/commit/3cf9335f8031a797ff2a16256a4aa9bb9a27ae66

Also, now it must be safe to run ```make vtests``` (they won't eat RAM and should run much faster). Still there are some 70 expected failures with valgrind (these are tests for re2c errors).

[2015-11-30 19:27] otaran commented on #122
Looks good, `make tests` passes all tests on OS X, `make vtests` still has some failures. I am closing this issue and looking forward to seeing `0.15.3` release. Thank you for your work, Ulya!

[2015-11-30 19:27] #122 closed

[2015-11-30 20:51] otaran opened #125 "[OS X] git reports changes not staged for commit in newly cloned repository"
### Steps To Reproduce

1. `git clone https://github.com/skvadrik/re2c.git`
2. `cd re2c`
3. `git status`

### Expected Result

[code]

### Actual Result

[code]

### Notes

Reproducible with `re2c` version `0.15.2`.

OS: Apple OS X El Capitan (10.11.1)
Developer Tools: Xcode 7.1.1 (7B1005)

[code]

This issue is caused by files `ctx.S.c` and `scanner.S.c` which have counterparts `ctx.s.c` and `sca

[2015-11-30 23:06] skvadrik commented on #125
True!

The same issue is on Windows. Fixed by renaming all tests to use lowercase letters only (long opt analogues of uppercase short opts), see this commit: https://github.com/skvadrik/re2c/commit/06fa1d825f14accf80a0285019f8d9f7170a0d76

I'm glad you noticed the problem. :)

[2015-11-30 23:15] otaran commented on #125
:+1:

[2015-11-30 23:15] #125 closed

[2015-12-04 03:27] mia0x75 opened #126 "[-Weffc++] false positives on centos 7 with gcc 4.8.3"
Can these warnings be fixed in the coming release? thx
# make

make  all-am
make[1]: Entering directory `/opt/download/re2c-0.15.3'
  CXX      src/codegen/bitmap.o
  CXX      src/codegen/emit_action.o
In file included from ./src/ir/regexp/regexp.h:7:0,
                 from ./src/ir/dfa/dfa.h:9,
                 from ./src/codegen/emit.h:5,
                 from src/codegen/emit_action.cc:6:
./src

[2015-12-04 10:07] skvadrik commented on #126
Most of the warnings are ```-Weffc++```: gcc-4.8.3 complains that base class ```std::set``` has no virtual destructor (almost all warnings are about ```class free_list```). There's also a couple of ```-Weffc++``` warnings about ```class Scanner: private ScannerState```.

gcc-4.9.3 and higher reports no ```-Weffc++``` warnings (perhaps they fixed ```-Weffc++``` somehow). There's a lot of bug report

[2015-12-04 21:44] dnuffer commented on #126
I've rarely found -Weffc++ to be useful. There's too many situations where you want to actually violate the effective c++ guidelines. Most of them are things like avoid doing "x" except when "y" or "z". And in some past releases of gcc you'd get warnings just from including things from the standard library.

[2015-12-04 22:08] skvadrik commented on #126
I find this part of ```-Weffc++``` helpful: "Define a copy constructor and an assignment operator for classes with dynamically-allocated memory". A couple of times forbidding copy constructor helped me fix the things that seemed totally unrelated.

[2015-12-09 11:16] skvadrik opened #127 "code generation error with wide chars and bitmaps (omitted 'goto' statement)"
Source code (err.re):
[code]
Skeleton helped me catch an error in code generation:
[code]
The generated code:
[code]
The false part is:
[code]
It should be:
[code]
This is a false optimization: re2c thinks that since the next state is ```yy2```, it can omit ```goto yy2;```. But in this particular case there is a fallthrough to ```goto yy5;```.

Previous versions also have this bug (re2c-0.13.6 gen

[2015-12-09 11:27] skvadrik commented on #127
Fixed in this coommit: https://github.com/skvadrik/re2c/commit/4fa27cf7b451be4e6526ef4726d9393d2ba0d0f9

[2015-12-09 11:27] #127 closed

[2015-12-09 11:51] skvadrik opened #128 "very slow DFA construction (resulting in a very large DFA)"
Consider the following code (slow.re):
[code]
It takes re2c a long time to compile this code and the generated lexer is very large:
[code]
Increasing repetition counter (any of the two, or both):
[code]
Causes insane increase of time and size:
[code]
If we minimize the generated DFA, it would get reasonably small. (I experimented with minimization a bit; the number of states is reduced by several

[2015-12-19 17:38] skvadrik commented on #128
Assuming the same example:
[code]
Commit https://github.com/skvadrik/re2c/commit/b98997b6fed91b6c37b1517a1aae096fb8c770fc reduces the time of DFA construction from ~115s to ~1.2s:

[code]

The generated DFA is still too big and should be minimized.

[2015-12-31 20:28] skvadrik commented on #128
DFA size is reduced by commit  https://github.com/skvadrik/re2c/commit/1136f2fb007461fc0c720fb6a1a9f58efed691e1 that adds DFA minimization.
[code]

[2015-12-31 20:31] skvadrik commented on #128
The intermediate DFA (the one that is constructed by NFA determinization and further reduced by DFA minimization) is still large. We'll need incremental minimization to fully solve pathological cases like this. Closing the bug until someone encounters a real-world example.

[2015-12-31 20:31] #128 closed

[2016-01-05 18:03] jcfp opened #132 "test failure on big endian archs with 0.15.3"
Hi,

After updating re2c in debian to 0.15.3, building the executable works fine on all architectures (with some compiler warnings in the Wconversion, Wsign-conversion and Wformat departments) but unfortunately 3 out of 976 tests do not pass on any big endian arch (mips, powerpc, s390x, hppa). See build logs [here](https://buildd.debian.org/status/package.php?p=re2c&suite=unstable) or [here](https

[2016-01-05 21:14] skvadrik commented on #132
Reproduced failures on powerpc64. Those tests probably failed because they store binary data in native endianness (native to amd64, as it happens to be my host platform). Should be easy to fix.

Thanks for a detailed report!

[2016-01-06 07:33] CRCinAU opened #133 "rst2man.py depreciated in RHEL7"
When trying to build re2c as a package, rst2man.py is not available.

rst2man is available via the python-docutils package - however even if this is present, building documentation via the --enable-docs fails during the configure stage.

As such, I believe the check in configure.ac should be more like:
[code]
Suggestions?

[2016-01-06 09:30] skvadrik commented on #133
Thanks for reporting. I think it is better to use ```AC_CHECK_PROGS```:
[code]
See commit https://github.com/skvadrik/re2c/commit/c105527ab420f9cb392e39637373236f82e28d75.

[2016-01-06 09:31] CRCinAU commented on #133
Thanks!

Just thought that I'd post that in packaging this for RHEL7, I used the following in the spec file to work around it at this stage:

%build
%configure
%{__make} re2c
rst2man doc/manpage.rst.in re2c.1

%install
%{__rm} -rf %{buildroot}
%{__install} -Dp -m0755 re2c %{buildroot}%{_bindir}/re2c
%{__install} -Dp -m0644 re2c.1 %{buildroot}%{_mandir}/man1/re2c.1

Your solution is obviously bette

[2016-01-06 09:33] CRCinAU commented on #133
Looking at the commit, it may be worthwhile to update this line too:
[code]

As now it doesn't require JUST rst2man.py - it can use rst2man as well :)

[2016-01-06 10:16] skvadrik commented on #133
True. :)
https://github.com/skvadrik/re2c/commit/615773a3ee16b8ac7e6aa93dd4656bfc3efdd189

[2016-01-07 12:14] #133 closed

[2016-01-07 14:55] skvadrik commented on #132
Fixed in this commit: https://github.com/skvadrik/re2c/commit/de094eba9f39655184910013d4eb55b0fdcd4722 (tested on powerpc64). Fix will be included in re2c-0.16.

[2016-01-07 22:05] jcfp commented on #132
Thanks!

Do you have an ETA for 0.16 in mind? Not meaning to pressure you here, but just so I know whether it makes sense to wait or backport the bugfix to the 0.15.3 package.

[2016-01-07 22:54] skvadrik commented on #132
I plan to release 0.16 in a couple of weeks. I think the fix can wait - it only affects tests (everything else works fine on big-endian platforms, including ```--skeleton``` switch).

[2016-01-13 20:16] jcw opened #134 "problem with push scanner"
I'm running into a problem with creating a push scanner. It works brilliantly when feeding the scanner 3 chars at a time, it works in _some_ cases when feeding it in chunks of 2, and it fails when feeding it single characters at a time.

The source code has been stripped to its bare essentials, under 100 lines - see the attached [main.re](https://github.com/skvadrik/re2c/files/89429/main.txt). I'm

[2016-01-13 21:35] skvadrik commented on #134
Perhaps you should have a look at re2c examples: http://re2c.org/examples/examples.html

This one in particular explains how to refill buffer: http://re2c.org/examples/example_03.html

The best way to fix your program is to take one of the examples as a basis. Meanwhile, I'll try to tune your code a bit.

[2016-01-13 21:46] jcw commented on #134
Thanks for the quick reply - I did look, I have now found a solution, as follows:

[code]

[2016-01-13 21:52] jcw commented on #134
Thanks for pointing to that particular example, Ulya - I hadn't looked at this for this context (thinking that "arbitrarily large" did not apply to this case... doh).

[2016-01-13 22:09] skvadrik commented on #134
If your lexical grammar is restricted over certain charset (say, none of the lexemes contains ```0x00``` byte), then you don't need ```YYFILL``` at all and you don't have to read more chars than necessary (see the very first exampe, the one about sentinel method: http://re2c.org/examples/example_01.html).

However, I strongly recommend you to avoid writing code like this:
[code]
re2c generates all

[2016-01-13 22:27] jcw commented on #134
Thx for the pointers. I did examine the PHP one in some detail, but it does too much for me, and makes some assumptions about its (bigger) environment. I now have a version which works while being fed with single characters - attached here as [main.re.txt](https://github.com/skvadrik/re2c/files/89578/main.re.txt) - it now does the entire JSON syntax, I think - and includes some simple test cases,

[2016-01-13 22:45] skvadrik commented on #134
By the way, valgrind (http://valgrind.org/) suggests that ```memcpy``` on line 77 should be ```memmove``` (memory areas may overlap):
[code]

Valgrind's tool Memcheck is very good at finding errors like this. I run Memcheck with the following options:
[code]

[2016-01-13 23:01] jcw commented on #134
It's a good point to make, but the copy is always downwards, so _if_ (!) memcpy guarantees that it always copies from low to high, then either one should work. There are more bugs in there, I noticed ("n" handling  in feeds() being one).

[2016-01-13 23:19] skvadrik commented on #134
Feeding one input character at a time is highly inefficient. If the target environment is memory-constrained, you should allocate a small buffer and feed lexer in chunks of buffer size (minus the length of the input that remains in buffer when ```YYLIMIT - YYCURSOR < n``` check fails and lexer calls ```YYFILL```).

The idea is, when lexer calls ```YYFILL``` it asks you to provide at least ```n```

[2016-01-13 23:27] jcw commented on #134
Yes, I am well aware of that - my context is an embedded µC where RAM can be very scarce, JSON is coming in via serial, and the µC tends to be doing nothing in between. When this data comes in "[1,2]\n", I would like to parse things char-by-char and ideally immediately end processing the moment either "]" or "\n" has been seen - with a next round of JSON possibly coming in soon thereafter. There i

[2016-01-14 02:17] jcw commented on #134
This scanner - [main-tiny.re.txt](https://github.com/skvadrik/re2c/files/89757/main-tiny.re.txt) - needs just 36 bytes of RAM state (plus some stack space). It properly scans `"..."`, `[...]`, and `{...}`, but does not grab the complete tokens in other cases (unless inside [] or {}). So instead of "null", the scanner only takes "n" and then stops.

Output from this latest revision is as follows, s

[2016-01-14 10:03] skvadrik commented on #134
I would probably recommend the following:
* use generic API
* make ```YYPEEK()``` a blocking call that hangs untill it receives the next character. Here is a couple of examples http://skvadrik.github.io/aleph_null/posts/re2c/2015-01-15-input_model_custom.html how to override ```YYPEEK```, but you can make it a loop or anything.
* disable ```YYFILL``` with ```re2c:yyfill:enable = 0;```. It's no lon

[2016-01-14 10:28] jcw commented on #134
Hm, tricky. If YYPEEK blocks, this is no longer a push model. Could this be turned around? I.e. whenever it wants to block, return instead, and then come back in when a new character is ready? The problem is that it may be hard to get back to the YYPEEK call site, which is probably deep inside the generated code.

The read-ahead is also going to be an issue. I really don't want to feed more than a

[2016-01-14 10:39] jcw commented on #134
I've posted the code as a [gist](https://gist.github.com/jcw/1a5b68d51f4c96557db1), FWIW.

[2016-01-14 23:01] skvadrik commented on #134
Here is my variant (I tried to make as few changes to the original program as possible):
[main.re.txt](https://github.com/skvadrik/re2c/files/91112/main.re.txt)

Generate, compile and run as follows:
[code]
The program will wait for input (just as it would wait for bytes coming over serial). You can type in JSON, in chunks on any size you like, and lexer will react.

The program is very rough ---

[2016-01-16 23:03] jcw commented on #134
Thanks, it looks good. The inversion of control is a stumbling block for me, though. I really need a push parser, not one that turns around and starts busy-waiting for input. I went ahead and rolled my own for this case, but I'll definitely revisit re2c for other tasks.

Feel free to close this issue, as it probably no longer useful to keep it open / pending.

[2016-01-16 23:30] #134 closed

[2016-01-23 11:10] #132 closed

[2016-01-27 12:33] Samuel006 opened #135 "In installation "make check" give syntax error"
My OS:
ASP Linux Server 5 (Red Hat Enterprise Linux 5.1).
gcc-3.4.6.-9,  bash-3.0-19.6
I try to install re2c-0.16.tar.gz:

#> ./configure - OK
#> make - OK
#> make check - test failed
#> make tests - test failed:
make  all-am
make[1]: Entering directory `/root/new_packs/re2c-0.16'
Reconfigure to rebuild docs: ./configure --enable-docs
make[1]: Leaving directory `/root/new_packs/re2c-0.16'
./run_te

[2016-01-27 19:58] skvadrik commented on #135
Your fix you is a bit incorrect: it glues all arguments together in one giant string (which is further interpreted as a single filename). The error is exposed when one invokes script with multiple filenames (something that `make check` does not).

I suggest the following fix: https://github.com/skvadrik/re2c/commit/d4c322c8fa2c40fc82d05fc610b087f8102b5617

[2016-01-28 04:32] Samuel006 commented on #135
I see. Thanks. All works properly with your fix, but syntax error appear one more time.
Need to replace string 217. From:
wait_pids+=("$!")
To:
wait_pids[${#wait_pids[@]}]=$!
Is it right?

[2016-01-28 09:00] skvadrik commented on #135
Yes, that's correct. I should have checked all occurrences. :). Fix: https://github.com/skvadrik/re2c/commit/0bf6f26a6d553963ee60229c75772b8f6ca84781

[2016-01-28 09:10] Samuel006 commented on #135
Thank you.  : )

[2016-01-28 09:10] #135 closed

[2016-02-24 04:06] linuxlovell commented on #89
thanks www.movied.org

[2016-02-24 04:06] linuxlovell commented on #1
thanks www.movied.org

[2016-02-24 04:06] linuxlovell commented on #62
thanks www.movied.org

[2016-02-24 04:42] linuxlovell commented on #63
thanks www.movied.org

[2016-02-24 05:02] linuxlovell commented on #64
thanks www.movied.org

[2016-02-24 05:49] linuxlovell commented on #65
thanks www.movied.org

[2016-02-24 07:00] linuxlovell commented on #90
thanks www.movied.org

[2016-02-24 07:27] linuxlovell commented on #66
thanks www.movied.org

[2016-02-24 07:48] linuxlovell commented on #3
thanks www.movied.org

[2016-02-24 07:55] linuxlovell commented on #67
thanks www.movied.org

[2016-02-24 13:07] jaydee-io opened #137 "run_tests.sh fail when running configure script with absolute path"
When running the `configure` script with an absolute path, `run_tests.sh` fail.
See [output.txt](https://github.com/skvadrik/re2c/files/144618/output.txt) and [test-suite.log](https://github.com/skvadrik/re2c/files/144619/test-suite.txt) for details.
[code]
The same using a relative path leads to `run_tests.sh` success.
[code]

[2016-02-24 14:02] skvadrik commented on #137
Confirmed, thanks for reporting.
Yet I'm not sure what is the simplest portable way to tell if a path is absolute/relative.

[2016-02-24 14:18] jaydee-io commented on #137
I'm currently working to submit you a patch of `run_tests.sh` using `readlink -f` to convert to absolute path.

But first, I'm not sure if it's portable to Wine.
And under Mac OS X the default `readline` command doesn't support `-f`option. We need to use `greadlink` instead.
[code]

[2016-02-24 14:31] skvadrik commented on #137
Sadly, `readlink` is also non-POSIX.

I think I've come up with a more portable fix: simply copy all test sources to `test_blddir` and keep using relative paths.

[2016-02-24 14:44] jaydee-io commented on #137
Yes, you're right.
Your fix is surely simpler and not concerned by portability issue.

[2016-02-24 17:08] skvadrik commented on #137
Not-so-quick and dirty fix: https://github.com/skvadrik/re2c/commit/7875e6c8e106735ddc8928921d88fef64e1d61aa

[2016-02-25 08:13] jaydee-io commented on #137
Commit 7875e6c fix the problem.
Thanks !

[2016-02-25 10:05] #137 closed

[2016-02-29 08:02] skvadrik opened #138 "website improvement"
As suggested by asmwarrior in re2c-devel@lists.sourceforge.net mailing list:

1. homepage: mention sourceforge repo
2. homepage: mention mail archieves
3. homepage: list major re2c users (php, yasm, ninja, etc.)
4. install page: link to old releases
5. manual pages: add navigation tree on left

[2016-03-05 11:51] skvadrik commented on #138
http://re2c.org has been updated.

[2016-03-05 13:05] linuxjackto1 commented on #22
thanks www.movied.org

[2016-03-05 13:08] linuxjackto1 commented on #79
thanks www.movied.org

[2016-03-05 13:08] linuxjackto1 commented on #78
thanks www.movied.org

[2016-03-05 13:08] linuxjackto1 commented on #77
thanks www.movied.org

[2016-03-05 13:18] linuxjackto1 commented on #80
thanks www.movied.org

[2016-03-05 15:25] linuxjackto1 commented on #81
thanks www.movied.org

[2016-03-05 17:07] linuxjackto1 commented on #23
thanks www.movied.org

[2016-03-05 17:56] linuxjackto1 commented on #25
thanks www.movied.org

[2016-03-05 17:56] linuxjackto1 commented on #24
thanks www.movied.org

[2016-03-05 18:45] linuxjackto1 commented on #26
thanks www.movied.org

[2016-03-11 15:02] asmwarrior commented on #138
Great job, I think my suggestions in the maillist are all implemented. Thanks for your contribution. Asmwarrior.

[2016-03-11 19:46] skvadrik commented on #138
Cool. :)

[2016-03-11 19:46] #138 closed

[2016-04-21 12:47] philippschaefer opened #139 "Rule precedence in case of lua style comments"
I go with the following grammar:

[code]

(Following the manual) I expect the rule in the first line to have precedence over the rule in the second line if there is an ambigious situation. However, the generated lexing code is the following (v0.16):
[code]
yy15 excludes the first rule except for the excluded characters from the second rule. Basically it should not exist at all and directly skip to

[2016-04-21 14:03] skvadrik commented on #139
Hello Philipp!

Actually, it's not a bug. re2c has two rules to resolve ambiguous cases:
1. prefer longest match
2. prefer rule with smaller number

In this case second rule shadows all the cases of the first rule except those that end with  ```[\000\n]```. For example, string ```--[===[``` matches the first rule, but a longer string ```--[===[a``` matches the second rule, so re2c prefers the seco

[2016-04-21 14:12] philippschaefer commented on #139
Thanks for the quick reply!

I will adjust my full lexer code according to your suggestions. I am sorry for reporting an issue where there is expected behavior...

Maybe it would be a good idea to adjust the wording in the manual to include the second precedence rule for longest match. Currently it states:

Thanks for the great lexer as it is!

[2016-04-21 14:12] #139 closed

[2016-04-21 14:28] skvadrik opened #140 "Update manual"
Manual on the website http://re2c.org is should be fixed and updated. This issue is a reminder to do it, as well as a place to pile all relevant notes and ideas. TODO:
- explain rule precedence (longest match, earliest rule)

[2016-04-21 14:32] skvadrik commented on #139
Sure, the manual needs to be fixed. I can't do it right now, but I've opened an issue: https://github.com/skvadrik/re2c/issues/140
Feel free to submit any other suggestions.

[2016-04-28 14:59] Abs62 opened #141 "Tests under Windows"
Under Windows (in MSYS) "run_tests.sh" script show a handreds failed tests because "2>"$outc.stderr"" operator write warning strings to file with CRLF instead of LF only. If to add something like "sed -i 's/\r//g' "$outc.stderr"" no more tests failed.

[2016-04-29 07:26] skvadrik commented on #141
Abs62, I applied the fix you proposed. Thanks!

[2016-04-29 07:28] skvadrik commented on #141
I reopen the issue until you confirm that it works on windows (github automatically closed it based on commit https://github.com/skvadrik/re2c/commit/68cfccd6a1a3366968887a6205819bb441c0573d message).

[2016-04-29 08:30] Abs62 commented on #141
Yes, it works, all tests passed. Thanks.

[2016-04-29 08:30] #141 closed

[2016-05-10 14:20] skvadrik commented on #121
Fixed in `devel`.

[2016-05-10 14:26] #121 closed

[2016-05-11 13:36] jcfp opened #142 "segvault with null terminated input"
hi,

a bug was reported in debian about a segvault in re2c with null terminated input:

I'm not sure if the ampersand is actually required, as it seems to segvault with other characters too as long as that null is at the end. The bug was reported against 0.13.5 but this reproduces with 0.16 too.

See the [debian bug report](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=823999) for more details

[2016-05-11 13:54] skvadrik commented on #142
Confirmed, thank you.

[2016-05-11 14:30] skvadrik commented on #142
Here is a fix: https://github.com/skvadrik/re2c/commit/54711f61242c4ff4a744ab33d4cb5a3530ddcf02 :)

Just a case of forgotten `goto` which remained unnoticed for years.

[2016-05-12 17:19] jcfp commented on #142
:thumbsup: Sure enough that does the job. Thanks!

[2016-05-12 17:19] #142 closed

[2016-06-23 07:57] sirzooro opened #143 "Generate `goto end_of_block` after user-defined actions."
Hi,
I wanted to write parser for HTTP protocol using re2c. I wrote it in following way:

[code]

I assumed that after rule will be matched in one re2c block and corresponding user code will be executed, execution will continue from end of current block. So code would check request type first, then consume space, then get url, and so on. Unfortunately it turned out that re2c does not generate instr

[2016-06-23 08:18] skvadrik commented on #140
Describe control flow in case of multiple re2c blocks as requested in https://github.com/skvadrik/re2c/issues/143.

[2016-06-23 08:33] skvadrik commented on #143
The `goto end_of_block` feature you suggested seems to be backwards compatible and is very simple to implement. However, since re2c knows nothing about the action code, it will append this `goto end_of_block` every time, which means dead code in most of the cases. Compiler will probably throw that away; but I'd better test this with various compilers.

The manual has to be updated no matter what (

[2016-06-23 08:48] skvadrik commented on #143
By the way, I'm currently working on adding submatch extraction which will allow to rewrite your code like this (`@p` in the action code denotes a pointer to input which corresponds to `@p` position in the regexp):
[code]
So that you won't need multiple blocks for simple things.

[2016-06-23 15:21] sirzooro commented on #143
Thanks, I will try this new option when new re2c version will be released.

BTW, this issue also affects code which uses single block only, it may not work properly too. In fact I had problem in my 1st re2c block.

[2016-06-24 19:51] sirzooro opened #144 "Generated code is incorrent"
I am translating grammars from RFC documents into re2c format and found case when generated code is incorrect:

[code]

Above code defines rules for parsing headers - in this case header "Test" with value "test", and as a result program should print "1" two times. However this is not the case for 1st string. for some reason generated code does not accept spaces after colon. Here is buggy part of c

[2016-06-24 20:05] sirzooro commented on #118
You could implement workaround - allow to specify locale via new command line param, and generate code for this locale only, with all char codes hardcoded.

[2016-06-24 20:45] skvadrik commented on #144
I think the problem is that `SWS` doesn't match single space:
[code]
So it either matches empty string or something that contains `\r\n` substring (single space is neither). Do you agree?

Actually, first thing you should check when you suspect that re2c generates incorrect code is skeleton: http://re2c.org/manual/features/skeleton/skeleton.html . Command line might look like `re2c -W -S -o test.c

[2016-06-24 20:51] sirzooro opened #145 "Values for enum YYCONDTYPE are not generated when default rules with conditions are used"
Following code generates empty `enum YYCONDTYPE` (no values), so compilation fails. When I changed it to use single default rule for all conditions, enum values were generated as expected.

I use re2c 0.16 compiled using gcc 5.3.0 on Cygwin x86_64.

[code]

[2016-06-24 21:00] skvadrik commented on #118
A good workaround in case people start complaining about the issue.

Or should we wait some two decades until everyone has Unicode locale. :D

[2016-06-24 21:04] sirzooro commented on #144
Thanks for the skeleton hint, I will give it a try.
I found that I made a mistake in LWS, it should look this way: `LWS = (WSP* CRLF)? WSP+;` (I changed square brackets to round one and forgot to add question mark). So this is not an issue, you can close it.

[2016-06-24 21:08] #144 closed

[2016-06-24 21:25] skvadrik commented on #145
Confirmed, this is a bug and it is reproducible with HEAD. I've simplified the test case a bit:
[code]
Expected result of `re2c -ci`:
[code]
Actual result:
[code]

[2016-06-24 21:30] skvadrik commented on #145
As a workaround one can use `[^]` instead of defautl rule `*` (see however http://re2c.org/manual/warnings/undefined_control_flow/wundefined_control_flow.html#difference-between-and). The problem stems from special (delayed) handling of default rule.

[2016-06-24 22:02] skvadrik commented on #145
Fixed in `master`.

[2016-06-24 23:13] sirzooro opened #146 "Recursive definitions"
I need to implement recursive rule like this:
[code]

I tried to write this as above, but re2c reports error. There is a workaround for this -  can simplify this as below, and validate brackets elsewhere (e.g. in parser):
[code]

Could you add support for something like this?

BTW, you could use `\0` to reference self, like below. This is similar to backreferences used in some regexp engines:
[cod

[2016-06-25 08:45] skvadrik commented on #146
In short, what you're asking about exceeds the power of regular expressions (as a mathematical formalism). Regular expression by definition is:

- empty string
- single alphabet letter
- alternative `r1 | r2` where `r1` and `r2` are regular expressions
- concatenation `r1 r2` where `r1` and `r2` are regular expressions
- iteration  `r*` where `r` is a regular expression

Put in a slightly differen

[2016-06-25 08:45] #146 closed

[2016-06-25 08:52] skvadrik commented on #146
Or read this: https://swtch.com/~rsc/regexp/regexp1.html and subsequent articles, if you want to know how backreferences are handled in google's RE2 engine. A spoiler: when RE2 finds backreference, it falls back to recursive backtracking (and so does grep and other real-world engines).

[2016-06-25 08:52] skvadrik commented on #145
Did you try the fix?

[2016-06-25 13:33] sirzooro commented on #145
Yes, it works for me. Thanks :)

[2016-06-25 13:44] #145 closed

[2016-06-25 14:18] sirzooro opened #147 "Please add symbol name to "can't find symbol" error message"
Please add symbol name to "can't find symbol" error message, it would allow to quickly spot what is wrong. Now we have to position cursor at given row and column to find that name.

[2016-06-25 16:13] #147 closed

[2016-06-25 16:20] skvadrik commented on #147
Done, thanks for suggestion!

Github sometimes (but not every time) automatically closes bugs, probably because commit message is of the form "Fixed #...". This should be stopped.

[2016-06-25 16:26] skvadrik commented on #147
It turns out, "Fixed #N" would trigger closing issue #N, but "Fixed bug #N" wouldn't. Most confusing. :)

[2016-06-26 07:50] sirzooro commented on #147
Thanks! :)

[2016-06-26 08:05] sirzooro opened #148 "Please allow to use -g without -s, gcc should be able to generate better code from it."
I did some benchmarks on my lexer (URL parsing) and got following results for different options used:

Generated code size:
[code]

Compiled code size:
[code]

Processor time in secs (reported by `clock()` function)
[code]

Code was compiled using gcc 5.3.0 on Cygwin x86_64 with options `-O2 -march=native`, which translates to `-O2 -march=sandybridge -maes -mavx -mcx16 -mfxsr -mmmx -mpclmul -mpopc

[2016-06-26 08:12] sirzooro opened #149 "Please add new page with benchmark results"
Please add new page with benchmark results. I did some on my own and it turned out that after adding `-s` or `-sb` generated code was worse than baseline, but with `-sbg` it was better (results are in #148). It would be nice if you could perform some benchmarks using various platforms and compilers, and put results somewhere.

It would be also nice to see how other lexers (e.g. flex) performs in c

[2016-06-26 09:12] skvadrik commented on #148
Oh yes, `-s` being a slowdown with modern compilers is known fact (I mean I did observe it a couple of times and it has been discussed on the mailing lists). It used to speed up code some 20 years ago (and probably still does if you use tcc or some other non-optimising compiler) .

`-g` without `-s` is worth a try.

[2016-06-26 09:13] skvadrik commented on #149
Yes, absolutely. Benchmarking is one of the most interesting things about re2c; the question has been asked a number of times on mailing lists and elsewhere.

It's hard to make representative benchmarks, so I took a gradual approach to the problem.

One of the first steps was adding skeleton (http://re2c.org/manual/features/skeleton/skeleton.html#benchmarks, `-S`, `--skeleton` option). Skeleton sp

[2016-06-26 09:14] skvadrik commented on #140
Add benchmarks (see #149)

[2016-06-26 09:30] sirzooro commented on #148
Above results were for URL with length 18. I did few more benchmarks and got some interesting results:

URL with length 131, many possible URL features used:
[code]
This time `-sb` was the fastest one, and computed gotos the slowest ones.

URL with length 13, this URL was of different type that was simpler to parse:
[code]
Here all extra option added some speed boost.

So looks that this heavily d

[2016-06-26 09:56] skvadrik commented on #148
Case ranges might be particularly useful with multibyte encodings like UTF-16 and UTF-32, where one is forced to use `-s` to keep the generated C/C++ code reasonably small.

[2016-06-26 10:03] skvadrik commented on #148
All these options deserve a thorough investigation and measurement, so I probably won't get to it right now (not in the coming release).

[2016-06-26 10:20] sirzooro opened #150 "Please add support for ABNF syntax (RFC 5234)"
Translation of formal protocol syntax from ABNF notation used in RFC documents to re2c format is quite tedious: copy, paste, reorder rules, modify syntax, rinse and repeat. This may also introduce bugs if typo will be made somewhere. So adding ABNF syntax to re2c would be beneficial. I propose to do it in following way:
- current and ABNF syntaxes probably could not be supported together, so new o

[2016-06-26 10:26] skvadrik commented on #150
Could you add links to:

- ABNF  specification
- an example of RFC you're trying to convert

[2016-06-26 10:37] skvadrik commented on #150
Also, BNF notation allows to describe context-free grammars, while re2c deals with regular grammars. In order to use BNF syntax with re2c we would have to use (invent?) some BNF flavour restricted to regular grammars.

[2016-06-26 11:19] skvadrik commented on #150
Converting from RFC's ABNF to this regular-BNF notation would probably be as bad as converting from ABNF to normal re2c syntax.

Ideally re2c should do the grammar rewriting for you. While this rewriting is an interesting project, it's not so simple. And since re2c will end up rejecting many grammars (because they are not regular), it's better to make a context-free fellow engine (lalr2c or so, I

[2016-06-26 18:55] sirzooro commented on #150
I am working on https://www.ietf.org/rfc/rfc3261.txt now.

Regular grammars are subset of context-free grammars, so you should be able to implement syntax covering this subset only. This will be enough to translate most basic rules which specify how to build headers, etc. Other things I will have to extract anyway, so I will need to do some context switching in re2c or use external parser like bis

[2016-06-26 20:25] skvadrik commented on #150
If I get it right, what you want is simple syntactic transformation from ABNF to re2c. Say, the following ABNF
[code]
should be transformed to
[code]
This transformation is straightforward (in fact, it's much easier to write a simple preprocessor that will do the job than make re2c support yet another sub-syntax).

However, this transformation is not very helpful: in the example above re2c will re

[2016-06-27 05:58] sirzooro commented on #150
Yes, but this should be for rx-like expressions only. In particular I do not need the `=/` operator. I want to automatically translate rules like this:
[code]
to this:
[code]
I would like to copy rules like this from RFC docs and avoid this extra manual syntax conversion step which is needed now.

[2016-06-27 07:38] skvadrik commented on #150
I agree that conversion should be done automatically.

But adding ABNF syntax to re2c is not a good idea for the following reasons:

- ABNF is for context-free grammars, it would confuse re2c users (they might think that re2c supports full class of grammars described by ABNF)
- this conversion step  is an independent transformation, so it should be done by an independent preprocessor/plugin
- this

[2016-06-28 15:52] sirzooro commented on #150
OK, I see. Standalone tool is also good for me.
And regarding potential confusion - every time you would mention ABNF support, there should be also note that it is only partial support, with optional link to page describing what is supported and what not.

[2016-06-28 16:11] sirzooro opened #151 "With `=> condition`, generate `goto condition` after user-defined action."
re2c already supports syntax `<ctx> "foo" :=> newctx`, which sets new context and jumps to corresponding label. However there is no dedicated syntax to additionally execute some code. Syntax page lists following one but without further explanation:

[code]

I tried to use it and found that generated code changes context variable and executes code, but does not jump to new label. So I propose to ex

[2016-06-28 16:38] sirzooro opened #152 "Line number in #line directive after enum YYCONDTYPE is 0-based"
As in title. Other `#line` directives seems to be correct, except that one - its value should be increased by one.

[2016-06-28 16:59] skvadrik commented on #151
Did you read this example: http://re2c.org/examples/example_05.html ? It explains everything:

- `:=> condition` means "instead of user-defined code, generate direct unconditional jump to `condition`"
- `=> condition` means "call `YYSETCONDITION(condition)` before jumping to user-defined code, then jump to user-defined code"  (whatever happens next is up to the user, but you're making the same fal

[2016-06-28 17:46] skvadrik commented on #151
By the way, in your example calling `YYSETCONDITION` after user code is useless, because user code returns. However, you can rewrite it this way:
[code]
(you don't have to use `YYSETCONDITION`, for sure).

[2016-06-28 17:57] skvadrik commented on #152
Please point at the wrong `#line` directive in the following example:
[code]
Compile with `./re2c 1.re -c`:
[code]

[2016-06-28 19:57] sirzooro commented on #152
Instead of `#line 1 "1.re"` should be `#line 2 "1.re"`

Please insert some C code between `/*!types:re2c*/` and `/*!re2c` block with will trigger warning or error during compilation, and compare line number in message with actual line number in `.re` file.

[2016-06-28 20:31] skvadrik commented on #152
The bug you're talking about is probably fixed in HEAD (I have no way to confirm it since I don't have a faulty example). There is at least one related fix in `devel` branch (HEAD) which is not in `master` yet.

[2016-06-28 20:37] sirzooro commented on #152
[code]
When you will generate code and compile it, you will get:
[code]
But it should be:
[code]

[2016-06-28 20:42] skvadrik commented on #152
Yep, fixed in HEAD. I'll add your example to test suite. :)

[2016-06-28 20:44] sirzooro commented on #152
Good to hear :)

[2016-06-28 21:01] skvadrik commented on #152
The good thing about re2c test suite is that we only test re2c-generated output (it should byte-to-byte coincide with reference output). Unlike C/C++ compiler results, re2c output is stable: we need to verify its correctness only once and then monitor all the changes.

[2016-06-28 21:38] sirzooro commented on #151
Thanks. I checked that example before, but it also does not explain how `=>` works.

It is not confusing, at least now when I know more how generated code looks like. I just expected that code generated from re2c blocks will mix cleanly with my code (so there will be some `goto end_of_block` as I wrote in #143). Another assumption was that it will help me automate some typical tasks. Access to low

[2016-06-28 21:57] skvadrik commented on #143
Bug #151 is related (add `goto condition` after user-defined action when `=> condition` is used).

[2016-06-28 21:59] skvadrik commented on #140
Explain control flow in conditions (see bug #151).

[2016-06-28 22:14] skvadrik commented on #151
Yes, conditions lack proper documentation (like many re2c features).

It seems like a good idea, but I need to think it over and experiment. Every change in API may either break backwards compatibility or become a legacy burden in future, so we have to think them out very carefully.

[2016-06-29 06:56] sirzooro commented on #152
OK, looks good.

[2016-06-29 06:58] #152 closed

[2016-06-29 07:05] sirzooro opened #153 "Please add "require" tag to specify minimum required re2c version"
User code may depend on some feature or bug fix added in specific re2c version, so it would be good to somehow specify minimum required re2c version. Attempt to generate code using older re2c version should fail. I propose following syntax:
[code]
This code is rejected by current re2c version, so it will prevent use of older re2c versions which do not implement this syntax too. Please add this.

[2016-06-29 08:15] skvadrik commented on #153
I see two problems with this proposal:

- Strict total ordering on the versions in not defined. For example, re2c-0.16.3 can contain bug fixes (upstream fixes, distribution patches, etc.) that are not present in re2c-0.17. So in case of bug fixes, this proposal wouldn't work.
- As for new features, they are always guarded by a new command line option or configuration. If you attempt to use old ver

[2016-06-29 19:53] sirzooro commented on #153
Well, without strict ordering such protection would not be complete. However if user will stick to numbers assigned by you only, or to numbers from his Linux distribution, this will work. This is probably the "best effort" here. BTW, bison has option like this. I also saw some flex lexer which used preprocessor to check flex version, so similar option in re2c would have its use too.

I also wonder

[2016-06-29 21:31] skvadrik commented on #153
The ability to replace  any command-line option with an inplace configuration is one of my goals for the next release. This is really useful for projects that use multiple `.re` sources with different sets of options (one such project is re2c itself).

The problem here is not with backwards compatibility of new re2c versions (new re2c will accept both old code and new code, for sure). It's the old

[2016-07-05 19:37] sirzooro commented on #153
Command line option provides some level of protection for new features, assuming of course that someone will use "official" way to build product which uses re2c. But if someone will try to execute re2c manually by executing it directly from command line, and do not pass required options, he will see something different than "bad option" - usually some kind of "syntax error".

Bug fixes are another

[2016-07-20 11:58] derickr opened #154 "PHP's date/time parser with re2c 0.16 & Apple LLVM version 7.3.0 (clang-703.0.29) causes massive slow down"
The PHP 7.1 Release Manager ( @dshafik ) emailed (http://news.php.net/php.internals/94582) about a recent commit to PHP's date/time parser (https://github.com/php/php-src/commit/7759d6b0db0437195442ea2d43e1a49001ef23a7). On OSX with the above mentioned LLVM version, he said that the date tests were timing out.

I had forgotten to use -b, and fixed that through http://news.php.net/php.cvs/93173. Bu

[2016-07-20 14:09] skvadrik commented on #154
Hi Derick!

In short: the issue is not with Mac OSX and not with re2c, it's with clang: re2c-0.16 generates control-flow graph that happens to confuse that exact version of clang. Not long ago I reported a similar bug in gcc: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=67783).

This behaviour is not specific to control-flow graphs generated by re2c-0.16. I can reproduce insanely long compile time

[2016-07-20 14:20] derickr commented on #154
Thanks for that extensive analysis.

However, my issue is about *run* times of the generated .c code, and not build/compile times.

[2016-07-20 15:15] skvadrik commented on #154
Hmm. That is very strange. And interesting.

I cannot reproduce it with clang-3.6 or clang-3.8 (not sure how these versions map to OSX versions).

In order to measure run time of the generated code, I use '--skeleton' option (to get self-contained program from PHP test). So my benchmark is obviously different from the original. In my case re2-0.16 and re2c-0.15.3 show a bit different results (re2c

[2016-07-20 15:29] derickr commented on #154
I don't remember which exact test case it was. Will need to defer to @dshafik for that.

[2016-09-21 13:23] skvadrik commented on #140
Add section (tutorial, guidelines, etc.) about lexer termination and buffer refilling. In particular, highlight the following topics:

- `YYFILL()` vs sentinel termination metod
- what must be updated by `YYFILL`
- how to arrange pointers for `YYFILL`: struct vs standalone pointers (include examples of generated assembly for both cases)
- how tag implementation depends on the presence of `YYFILL`:

[2016-09-26 10:38] julian-klode opened #155 "Optimize case-insensitive matching for all-alphabetical cases"
Currently re2c generates switches like
    switch(c) {
    case 'T':
    case 't':
        ...
    }

I found over the weekend - while writing https://github.com/julian-klode/triehash - that this can be substantially optimised: If all cases are alphabetical characters, we can transform it into:

    switch(c | 0x20) { case 't':   ... }

(which one is chosen does not matter). In fact, that's not on

[2016-09-26 13:13] skvadrik commented on #155
Hi! I think, this is the kind of optimisation re2c should definitely have (probably in a more general form).

In fact, re2c already has a similar optimisation (enabled with `-b` option) that tries to reason about bit patterns of the matched characters. It is not powerful enough to handle this case, though.

I experimented a little bit with your example (I expected `gcc -O2` to optimize both cases

[2016-09-26 21:52] skvadrik commented on #155
After a closer look this is not true: https://llvm.org/bugs/show_bug.cgi?id=30531

[2016-10-01 09:06] skvadrik commented on #140
Add lower version reminders to avoid confusion like this: http://stackoverflow.com/questions/39738102/syntax-error-from-default-rule/39766309#39766309

[2016-11-02 23:43] pauloscustodio opened #156 "Build with Visual Studio 14 2015: symbol name conflict"
Constant INFINITY defined in fillpoints.cc conflicts with macro defined in math.h in Visual C++ and build fails.

[2016-11-03 08:38] #156 closed

[2016-11-03 08:44] skvadrik commented on #156
Fixed in #157, thanks @pauloscustodio !

[2016-11-05 00:27] pauloscustodio opened #158 "Inconsistent forward declaration of struct/class vs definition"
structs State and OutputFile forward declared as class.
classes Range, RegExp and RuleOp forward declared as struct.

These cause warnings in MS C++

[2016-11-05 10:24] skvadrik commented on #158
Fixed in #159.

[2016-11-05 10:24] #158 closed

[2016-11-05 12:41] pauloscustodio opened #160 "Open text files with "wb" causes issues on Windows"
After every run of re2c I get a warning in Visual Studio about "inconsistent line ending" on the generated files. The cause is the "b" in fopen(file_name, "wb") that opens the file in binary mode, and stdio does not write the correct line ending for Windows ("\r\n" instead of "\n" in Linux). In Linux the "b" flag has no effect.

The issue happens in two locations: output.cc:74 and output.cc:349

C

[2016-11-05 14:24] skvadrik commented on #160
I think the tests will break on Windows: re2c will generate `\r\n` instead of `\n`, which is expected by reference test results. However, people can only run tests on Windows if they have Bash, which suggests that they use Cygwin or Mingw.

One test is broken (with `"w"` instead of `"wb"`)  if I build re2c with Mingw and test with Wine (on Linux).

Of course, re2c should generate correct line endi

[2016-11-05 14:30] skvadrik commented on #160
Ah, the test script already has it (run_tests.sh.in:174). I'll investigate why that single test breaks in Mingw builds.

[2016-11-05 15:00] skvadrik commented on #160
It turns out that test script only patches stderr and stdout, while the generated output is written to file. We only recently started to use `-o` option for testing.

[2016-11-05 15:05] skvadrik commented on #160
Too bad, some of the tests contain `\r\n` line endings (php20150211_parse_date_crlf.ig.re and php20140822_zend_language_scanner_crlf.igcd--flex-syntax.re), so now tests break on my platform. :)

[2016-11-05 15:50] pauloscustodio commented on #160
Maybe the diff in run_tests.sh can be replaced by "diff -w" causing differences in whitespace to be ignored and the tests to pass.
That's what I had to do in my port of run_tests.sh to perl to run the tests on Windows. 

-------- Mensagem original --------De: skvadrik <notifications@github.com> Data: 05/11/16  15:05  (GMT+00:00) Para: skvadrik/re2c <re2c@noreply.github.com> Cc: pauloscustodio <pau

[2016-11-05 15:53] skvadrik commented on #160
I fixed testing script and deleted tests which contained `\r\n` (they are duplicates with just line endings changed): https://github.com/skvadrik/re2c/commit/334c650bd33c45a21f8fb467d02b2b6cfda674e1

I can accept your fix (`"wb"` to `"w"`) now, otherwise I'll commit the changes myself.

[2016-11-05 16:02] skvadrik commented on #160
I think that `-w` is non-POSIX: http://pubs.opengroup.org/onlinepubs/9699919799/utilities/diff.html, and we try to be mostly POSIX-compliant. Besides, some test results contain binary data which should be compared byte-to-byte (output of the `--skeleton` option).

Maybe you don't need `diff -w` after 334c650 ?

[2016-11-05 16:04] pauloscustodio commented on #160
I've cherry-picked the change in output.cc into a new pull-request.

Thanks.

On Sat, Nov 5, 2016 at 3:53 PM, skvadrik <notifications@github.com> wrote:

[2016-11-05 16:21] skvadrik commented on #160
Fixed in https://github.com/skvadrik/re2c/pull/161.

[2016-11-05 16:21] #160 closed

[2016-11-06 22:50] pauloscustodio opened #162 "Reading files with "rb" causes issues in Windows"
In input.cc:18 the .re file is opened in binary mode - fopen (file_name.c_str (), "rb");
This causes a test failures on a git clone of the repository on Windows:

- code_points_error_esc.re:
  re2c: warning: line 2: column 5: escape has no effect: '\' [-Wuseless-escape]

because the back-slash is followed by a '\r' and then a '\n'

- code_points_error_lf.re
  re2c: error: line 2, column 7: syntax

[2016-11-07 10:00] skvadrik commented on #162
I think the issue is not in `"rb"` mode, rather in handling of newlines. re2c should handle all kinds of newlines, and it does for the most part, but in some places newlines are unexpected.

Please see the fix: https://github.com/skvadrik/re2c/commit/54b50c0bbfe4a865bf004ef51fb639156a7657d7,
does it work for you?

[2016-11-07 22:15] pauloscustodio commented on #162
Yes, 54b50c0
<https://github.com/skvadrik/re2c/commit/54b50c0bbfe4a865bf004ef51fb639156a7657d7>
solves
the issue I reported.

Thanks.

On Mon, Nov 7, 2016 at 10:00 AM, skvadrik <notifications@github.com> wrote:

[2016-11-08 08:13] #162 closed

[2016-11-10 20:01] pauloscustodio opened #163 "Reading files with "rb" causes issues in Windows"
This is a follow-on of #162.

The fix provided solves the test failures, but there is still an issue in the generated files on Windows. The output file has different line endings:
 - lines generated by re2c have the correct line ending CR-LF.
 - lines copied from the input .re file have CR-CR-LF, probably the first CR read verbatin from the input .re file, and the second CR produced by stdio while

[2016-11-10 21:58] skvadrik commented on #163
Do you mean that reading any file that has CR-LF line endings with `"rb"` and then writing it with `"w"` results in CR-CR-LF on Windows? Curious, but it does make sense that one should either use text mode or binary mode, but do it consistently (for both reading and writing).

In principle what is good enough for C/C++ compiler should be good enough for re2c: it doesn't expect any encoding-breakin

[2016-11-10 22:33] skvadrik commented on #163
We have some tests (namely, code_points.*.re) with binary input: regular expressions that contain string literals including all characters in one-byte range except newline.

These tests are broken on Windows by dropping `"b"` (I run re2c in Wine on Linux and get crash dumps). Which is quite expectable. These tests have been added to capture the exact behaviour of re2c lexer on all input characters

[2016-11-10 23:40] pauloscustodio commented on #163
and then writing it

Yes, that is correct. On reading with "rb" your text will include the CR-LF
at the end of each line. When writing with "w" the CR is output and then
the LF is translated by stdio to CR-LF,

Another option is to use /\r?\n/ as end-of-line regular expression and
convert to a single '\n' when reading the .re file.

On Thu, Nov 10, 2016 at 10:33 PM, skvadrik <notifications@github.

[2016-11-11 14:31] skvadrik commented on #163
Yep. At least this way input will be the same on all platforms.

I've pushed a quick-and-dirty fix: https://github.com/skvadrik/re2c/commit/a51c7c858c99641d473bfbb375b082605f74f83b. A more elegant solution would perform conversion immediately wjhen CR LF is recognized by the lexer, but `devel` has some important fixes in lexer which I don't want to pull in `master` just yet.

[2016-11-11 21:49] pauloscustodio commented on #163
The fix was not working. I simplified a bit and submitted a pull request,
but as I have an intermediate version with CMakeLists.txt, to able to build
and test on on MS-C++, you may need to cherry-pick.

Thanks.

On Fri, Nov 11, 2016 at 2:31 PM, skvadrik <notifications@github.com> wrote:

[2016-11-11 22:14] #163 closed

[2016-11-11 22:18] skvadrik commented on #163
Eh, I last-minute-fixed `!=` to `==`. Sorry.

Thanks for the patch.

[2016-11-13 16:12] ruimaciel commented on #109
Is this feature already supported by re2c?  I've browsed through the site but I failed to find anything regarding re2c supporting calls to istream.

[2016-11-13 17:18] skvadrik commented on #109
Sure, we added generic API about a year ago in 0.14 release. It is documented on re2c.org: http://re2c.org/manual/features/generic_api/generic_api.html, and it appeared in changelog http://re2c.org/news/changelog/changelog.html#id11. These docs should be updated and included into the official manual, I will probably get to it soon.

A more detailed documentation is here: http://skvadrik.github.io/

[2016-11-13 17:23] skvadrik commented on #140
Add skeleton documentation: : http://skvadrik.github.io/aleph_null/posts/re2c/2015-01-15-input_model_custom.html and http://skvadrik.github.io/aleph_null/posts/re2c/2015-01-13-input_model.html

[2016-11-14 18:36] ruimaciel commented on #109
I have to say, what a tremendous job.  I particularly enjoyed reading [this article](http://skvadrik.github.io/aleph_null/posts/re2c/2015-01-14-input_model_assembly.html).  I also noticed that I was mentioned in the acknowledgements section of [this article](http://skvadrik.github.io/aleph_null/posts/re2c/2015-01-13-input_model.html).  How cool is that?

Keep up the good work.

[2016-11-14 18:52] skvadrik commented on #109
Glad you liked it, and thanks for the motivation!

[2016-11-30 18:57] jefftrull opened #165 "Trailing context consumed if initial expression matches it"
I am finding that expressions of the form
`
X / Y
`
result in `YYCURSOR` pointing after `Y` instead of after `X`, i.e., the trailing context is consumed - _if_ `Y` can also be matched by `X`.

In the attached example there are two expressions to be matched.  In the first, any number of "a" or "b" characters followed by a final "b":

`[ab]* / "b"`

In the second, any number of "c" followed by a fin

[2016-11-30 19:44] jefftrull commented on #165
Just for fun I cloned the repo and discovered that this issue is fixed in devel branch :)  Is there a release schedule?

[2016-11-30 21:31] jefftrull commented on #165
Perhaps this is a duplicate of bug #121

[2016-11-30 21:52] skvadrik commented on #165
Yep, it's a well-known bug, duplicate of https://github.com/skvadrik/re2c/issues/121. The bug itself has been fixed in `devel` for quite a while (since 7db4bab), but it turned out to be just a top of an iceberg -- much larger problem with a more general solution.

In short, the fix required switching from DFA to TDFA, the latter being a relatively new invention in automata theory (year 2000, Ville

[2016-11-30 21:57] #165 closed

[2016-12-01 17:48] pskocik opened #166 "Segfault or infinite loop after changing a regexp"
I thought it would be fun to automatically linkify C standard references so used re2c with approximately this skeleton:

[code]

This worked well, but then I tried to match references that mention paragraphs too:

`StdRef = [0-9]+('.'[0-9]+)+([/pP][0-9]+)?;

and the added ([/pP][0-9]+)? started causing the code to segfault and replacing it with ([/pP][0-9]*)? made it go into an infinite loop.

Am

[2016-12-01 18:13] skvadrik commented on #166
Empty action in `StdRef` rule looks bad:
[code]
You should add something like `continue;` or `return 0;`, otherwise control flow will just proceed to whatever happens to be there. Re2c pastes user-defined actions into the generated file as-is, it does not add any `goto end` statements.

Look at the generated code and you'll probably understand what happens.

[2016-12-01 18:36] pskocik commented on #166
Thanks In this context the empty { } was a transcription error. However I did store just the pointer to the buffer and then tried to match again later with just /!re2c  StdRef { } */ (because I knew there would be a match there) and it was the empty braces in the rematch that caused the infinite loop with the changed regex (with the simpler one it worked). I changed it to a goto jump (because on t

[2016-12-01 18:36] #166 closed

[2016-12-01 18:42] skvadrik commented on #166
No worries, people often run into this sort of troubles with re2c API. :)

[2016-12-22 23:46] JesseBuesking opened #167 "Add word boundary support"
Would it be possible to support word boundaries? As far as I can tell, the `\b` that is [referred to in the documentation](http://re2c.org/manual/syntax/syntax.html) is actually referring the [backspace character](https://en.wikipedia.org/wiki/%5Cb).

My `YYFILL` function returns `0` when the known string length is met:

[code]

I have a rule in my grammar to match numbers containing commas with a

[2016-12-23 12:00] skvadrik commented on #167
Word boundary woudn't help in this case: it would need to read one character past valid input `"1,000,000.00"` to determine that word boundary is reached. If you can guarantee existence of the terminating character (one that does not appear in valid input, hence `[^0-9,.]`), then you don't need neither word boundary, nor `YYFILL`, you can simply use the sentinel method described here http://re2c.o

[2016-12-23 14:49] JesseBuesking commented on #167
Yesterday evening after posting I attempted to include null byte checks in my lexer and it worked with surprisingly few modifications, however I believe your last paragraph is exactly what I need. Thank you for your detailed and timely response! I'm going to try your suggestions next.

[2016-12-23 15:00] skvadrik commented on #167
Just to clarify, if you *can* use sentinel method (append `NULL` or set last input byte to `NULL`) then by all means do so. It's much more efficient than checking for the end of input on every character.

[2016-12-23 16:41] JesseBuesking commented on #167
Agreed! Unfortunately I need to support char arrays containing `NULL` characters which is why I was originally trying to use `YYFILL` to do bounds checks.

[2016-12-23 16:48] skvadrik commented on #167
Sentnel doesn't have to be `NULL`. It can be any character that does not appear in valid input (but might appear in invalid input). If all characters are allowed by some part of your regexp (that is, `[^]` or its functional analogue), only then you should use `YYFILL`.

[2017-01-08 10:54] ruimaciel opened #168 "Wikipedia's article on re2c"
I've noticed that wikipedia didn't hosted an article on re2c.
Consequenty, I've started one.

Here's a link to wikipedia's article on re2c:

https://en.wikipedia.org/wiki/Re2c

If anyone is willing to contribute anything to the article, go for it.

[2017-01-08 11:07] skvadrik commented on #140
Complete Wikipedia article: https://github.com/skvadrik/re2c/issues/168

[2017-01-08 11:08] skvadrik commented on #168
Great! Only I believe it should be either "re2c" or "RE2C", not "Re2c" :)

[2017-04-07 22:43] pmetzger opened #176 "re2c help message is too wide for most terminals"
Howdy! The message you get when you run re2c --help is formatted for much wider than the standard 80 columns one finds on a normal terminal.

Fixing this is pretty easy, it just requires a quick reformat of conf/msg.cc. I might volunteer to do it if the change would be accepted.

[2017-04-07 23:38] pskocik commented on #176
The  --help output should also be synced with the options section of the manpage. I believe it should be completely generated from that manpage section.
My https://github.com/skvadrik/re2c/pull/177
does just that.  (Ideally, that generation, as  well as syncing between the master branch and the gh-pages-gen branch should be made part of the build system, but I don't feel like playing with that).

[2017-04-08 07:29] #176 closed

[2017-04-08 07:40] skvadrik commented on #176
Yes, manpage `doc/manpage.rst` definitely should be synced with `--help` and the corresponding online documentation page in `gh-pages-gen` branch should be synced with both. I just didn't find an elegant way to do it yet.

I  think `--help` must be the primary source as it is included in re2c source code.

[2017-04-08 17:14] ddalek commented on #168
I'm afraid it's not possible to have a Wikipedia article address slug starting with a small character (see iPhone article for example). And since it's pretty universally referred to as re2c (with the original paper being the sole exception I've seen) I feel it should be re2c (all small) in the title as it is. Do you agree? :) Also per Wikipedia policies caps in titles typically indicate abbreviati

[2017-04-08 17:46] skvadrik commented on #168
"re2c" is fine by me, "Re2c" is not.
The name itself is an abbreviation from "Regular Expressions to C (programming language)".
The problem with small letters is that you cannot start a sentence with "re2c" without violating either the name or the norms of written English. That's why the paper uses "RE2C" I think.

[2017-04-08 20:15] ddalek commented on #168
But re2c _is_ referred to as re2c in Wikipedia article (including its title). :) The URL slug is a deficiency of MediaWiki engine. That's why musl[1], vbcc[2] or previously mentioned iPhone have to deal with the imperfect URLs.

[1] https://en.wikipedia.org/wiki/Musl
[2] https://en.wikipedia.org/wiki/Vbcc

[2017-04-08 21:37] skvadrik commented on #168
Yes, @ruimaciel titled the artiicle "Re2c" at first, but then fixed it to "re2c".  My message was written before the fix.

[2017-04-09 16:11] ddalek commented on #168
Cool. :) I've added some citations so it's not marked for deletion due to lack of proper sourcing.

[2017-04-10 16:30] pmetzger opened #180 "Comment syntax?"
I find myself wanting to comment my re2c grammar, but it isn't clear if there's any sort of text inside the re2c C comment block itself that won't be treated as though it is valid re2c code.

How can I do this cleanly? Is there some undocumented method?

[2017-04-10 16:42] skvadrik commented on #180
Sure, both single-line comments `//` and multiliine comments `/* ... */` should work.

[2017-04-10 16:43] skvadrik commented on #140
Document comment syntax: https://github.com/skvadrik/re2c/issues/180

[2017-04-10 16:46] skvadrik commented on #180
Also, if you want to comment the whole `/*!re2c ... */` block, the best way is just to put an extra space between `/*` and `!re2c`.

[2017-04-10 16:58] pmetzger commented on #180
You can't put a /* ... */ inside a /* ... */ comment unfortunately, they don't nest.
But you're saying I should be able to put a // anywhere inside the comment block anywhere and that will not be a problem?

[2017-04-10 16:58] pmetzger commented on #180
(And could that be documented?)

[2017-04-10 17:05] skvadrik commented on #180
Well, inside of a re2c block you *can* have another multiline comment, but it will probably break your syntax highlighter. Single-line comments won't break syntax highlighter. Do you have an example of code that doesn't work?

As for documentation, I already added a reminder in #140.

[2017-04-10 17:09] pmetzger opened #181 "Negative lookahead/trailing context"
The `r / s` syntax allows me to specify trailing context that isn't included in the matched expression.

What's the easiest way to specify _negative_ trailing context, that is, a `/ s` whose pattern, if it is present, causes `r` _not_ to be be matched?

(I realize this feature might not exist as such.)

[2017-04-10 17:11] pmetzger commented on #180
Is the reason a multi-line comment will work that re2c preprocesses the c-like comments in the first place? Because C itself does not allow nested comments.

[2017-04-10 17:24] skvadrik commented on #180
Yes. re2c parses C/C++ code, finds multiline comments of the form `/*!re2c ... */` (and a couple of variations) and parses the code inside of these comments.

This is the exact place in the re2c source code that handles nested multiline comments: https://github.com/skvadrik/re2c/blob/devel/re2c/src/ast/lex.re#L207, and this one handles single-line comments https://github.com/skvadrik/re2c/blob/dev

[2017-04-10 17:49] skvadrik commented on #181
In general negative lookahead is not supported.

You can have a pair of rules:
[code]
Otherwise, if your lookahead expression is simple, it might be possible to manually invert it: e.g. inverted `[a-z]` is `[^a-z]` and so on.

Note that in re2c-0.16 trailing contexts might not work as expected (see #165). This bug is fixed in `devel` branch; the changes will be merged in the next release.

[2017-04-10 17:57] skvadrik commented on #181
Of course, a pair of rules is not exactly the same as negative lookahead: the first rule may prevent shorter overlapping rules from matching.

[2017-04-10 19:03] pmetzger commented on #180
Cool! Thank you so much!

[2017-04-10 19:11] pmetzger commented on #181
Cool. I could do what you suggest very easily, and I believe my case will not tickle the bug in question. How, though, do you reject a pattern in an action after a rule? The manual does not make it obvious. (Perhaps this is another thing that could be documented?)

[2017-04-10 19:37] pmetzger commented on #181
Actually, I just realized that the problem with shorter overlapping rules would bite me here. This is somewhat irritating.

What I need to express is this, approximately:

`[0-9]+` is an integer
`[0-9]+ "." [0-9]*` is a float — note that it can end in a "."
`[0-9]+ ".."` is *not* a float. (That's used in the language to express the start of a range.)

Unfortunately, it turns out that otherwise rel

[2017-04-10 20:29] pmetzger opened #182 "yych being set by YYPEEK () and then not used."
Howdy! Using the clang static analyzer and re2c 0.16, I've found a few instances where the analyzer finds instances of `yych = YYPEEK ();` where `yych` is not subsequently used in the control path. Although benign as bugs go, I'd still like to help you fix it.

Not 100% sure how to build a minimizing test case, without which it will be hard for you to track down the bug. Is there a way to figure o

[2017-04-10 20:36] skvadrik commented on #181
This is a very common situation; I would probably do the following. First, list all lexemes explicitly:
[code]
Then deal with each type of lexeme in its own way, depending on what exactly you are trying to achieve. If you describe your problem in more details I might suggest something more suitable.

This is how re2c can be used to lex C++: http://re2c.org/examples/example_07.html (this includes r

[2017-04-10 20:46] skvadrik commented on #182
You can build a minimal test case using `--skeleton` option: http://re2c.org/manual/features/skeleton/skeleton.html
All it needs it regular expressions (everything inside of `/*!re2c ... */` blocks), all the interface code is generated automatically. You can make sure that skeleton program builds and still triggers the bug, then post your reduced example, command line and warning report here.

[2017-04-10 20:59] pmetzger commented on #182
It seems to build! I'll try bisecting the code until I get a minimal instance.

[2017-04-10 21:34] pmetzger commented on #182
Okay, it seems to work! I've produced what isn't quite a minimal instance but it retains all the original warnings I was getting from the clang static analyzer just in case they're somehow different versions of the bug.

Build the attached with:
`re2c --bit-vectors --nested-ifs -W -Werror --input custom --skeleton -o test-skeleton.c test-skeleton.re`

Then use `scan-build` or `ccc-analyzer` direct

[2017-04-10 21:50] skvadrik commented on #182
Thank you for the detailed report!
The bug has already been fixed in `devel` branch (I don't recall it, but maybe there was a similar issue somewhere).

[2017-04-10 22:50] pmetzger commented on #182
When is the next release version likely to be cut? It seems like there's a lot of good stuff queued up... :)

[2017-04-10 23:26] pmetzger opened #183 "Strange syntax error with parenthesized trailing context"
This:

`D+ "." / "a"      {  }`

is parsed fine by re2c.

This (the same regexp, parenthesized):

`(D+ "." / "a")      {  }`

Results in a syntax error (at the `/`).

Is this expected behavior?

[2017-04-11 00:59] pmetzger commented on #181
I solved my particular problem by doing the equivalent of:
`D = [0-9];`
`D+ "." / [^.]`
for floats of the form `D+ "."`, with neighboring rules adjusted accordingly so this was the only way to match a float with a bare trailing dot. Since this is the shortest match for floats (and thus the lowest in the priority list) it works, though it is slightly messy.

A true negative trailing context system

[2017-04-11 06:59] skvadrik commented on #183
Yes, trailing context must be in top-level regular expression, and parenthesis make it nested.

[2017-04-11 07:02] skvadrik commented on #181
Glad you solved your problem!

[2017-04-11 07:09] skvadrik commented on #182
Quite a lot, more than a year of development.
Unfortunately the main change in the upcoming release requires some research: it involves a relatively novel algorithm with a few modifications of my own. I have formalize the algorithm, and it takes me longer than expected.

[2017-04-11 12:57] pmetzger commented on #183
Ah, but here is the problem.

Say you have a top level expression of the form:

`A | B | C    {}`

Note also that (at least in Flex) the `/` operator has *lower* precedence than the `|` operator.

You then get into a situation where

`a / b | c {}`

will get misparsed as `a` with trailing context `b|c` rather than as `a` with trailing context `b` vs. `c`.

The obvious solution is to do `(a / b)`,

[2017-04-11 12:58] pmetzger commented on #181
Indeed. Though if there's a wishlist file of some sort, negative trailing context might be a nice thing to add. :) (I get that it is unlikely to show up any time soon.)

[2017-04-11 12:59] pmetzger commented on #182
Cool. Is there any way to cherry pick the fixes for some of the other bugs, or is that too hard to do because they're dependent on the new algorithm for generating the automaton?

[2017-04-11 13:02] pmetzger commented on #183
One workaround, I suppose, is to change

`(a / b) | c    { D }`

to the two lines

`a / b    { D }`
`c          { D }`

Perhaps for now a warning in the documentation would be suitable?

[2017-04-11 13:58] skvadrik commented on #183
When I say "in top-level", I mean "not included in any alternative, concatenation or iteration". And this is the standard meaning of "top-level" as far as I know. Thus in `(a / b) | c` trailing context is not in top-level, as it is included in higher-level alternative.

In re2c `/` also has the lowest priority. And it can be used only once per rule.

The "workaround" you mentioned is indeed the pr

[2017-04-11 14:00] skvadrik commented on #140
Document operator precedence: #183

[2017-04-11 14:08] skvadrik commented on #183
The thing I'm working on right now will allow to save cursor position on any level of regular expression, so that will allow you to have nested lookahead operator.

[2017-04-11 14:12] skvadrik commented on #182
I suppose it's hard. The whole codebase changed since the last release.
I hope it won't be too long until the next release (a month?), but I said the same thing half a year ago and new sub-problems keep showing up.

[2017-04-11 14:15] skvadrik commented on #181
Sure, I will leave the bug open as a reminder.

[2017-04-19 23:47] pmetzger opened #184 "Small documentation issue"
In the man page:

You probably want this to read:

[2017-04-20 07:30] skvadrik commented on #184
I believe @pskocik recently fixed it in `master`. It now reads as:

However, if you think your variant is better, feel free to send a patch on top of `master`.
If you don't have time for that, in future please submit such minor documentation issues as a comment in #140.

[2017-04-20 15:20] pmetzger commented on #184
I don't have time right now, but I'll put a comment in #140. I think my variant is better, I don't think "several" is correct (severe was meant) and I don't think "behind" is correct (beyond is clearly the intended word).

[2017-04-20 15:21] pmetzger commented on #140
Moving my documentation issue here per @skvadrik (and although this is different in `master` I think the version there is mangled):

In the man page:

You probably want this to read:

[2017-04-20 15:39] skvadrik commented on #184
Thank you! I will close this issue as a duplicate then.

[2017-04-20 15:39] #184 closed

[2017-06-09 23:08] binji opened #186 "Difference operator sometimes doesn't work with utf-8"
Here's a simple example:
[code]

Interestingly, it works if I remove characters from the second set:
[code]

[2017-06-10 07:52] skvadrik commented on #186
Fixed in `devel` branch (at least this very example).

In general, re2c can only difference *code unit* classes. In UTF-8, *code points* may occupy multiple *code units*, so some character ranges have non-trivial structure (directed acyclic graph) rather than simple set.So, for example, `[^] \ [a]` won't work in `devel` either. See this article for a thorough explanation https://swtch.com/~rsc/reg

[2017-06-10 07:55] skvadrik commented on #186
There is even a better option to look `[^]` structure: http://re2c.org/manual/features/dot/dot.html

[2017-06-10 18:44] binji commented on #186
Thanks for the fix! It makes sense that in general that this wouldn't work for utf-8, but I found this case to be surprising for the reasons you've described.

You mention code unit classes; is there a way to specify these? For example if you did want to match specific invalid utf-8 and not just catch-all with `*`?

[2017-06-10 19:09] skvadrik commented on #186
I think no; re2c assumes that all character literals refer to code points. For example, if you write `/*!re2c "\x7f" {} */` and compile it with `re2c -8i`, you'll get the following:
[code]
If you take the next code point `/*!re2c "\x80" {} */`, you'll get:
[code]
There's no way to write `\x80` as a 1-byte code unit.

Why do you need this?
As a workaround, it is possible to match the beginning of a

[2017-06-10 19:26] binji commented on #186
I don't think I need this, actually. Ultimately, this all came about because I was trying to match [this ocaml lexer rule](https://github.com/WebAssembly/spec/blob/master/interpreter/text/lexer.mll#L136) with re2c. It appears to handle utf-8 manually, and this rule captures valid and invalid utf-8 as reserved. It throws an error either way, so I just limited this to ascii for the same thing which

[2017-06-10 19:26] #186 closed

[2017-06-20 07:17] skvadrik commented on #140
Fix clone URLs on install page.

[2017-07-31 08:11] ruimaciel commented on #168
It seems that wikipedia's article on re2c has been flagged due to issues such as "may rely excessively on sources too closely associated with the subject".  Is anyone able to contribute a third-party source on the merits of re2c?

[2017-07-31 08:53] skvadrik commented on #168
Well, first, the original paper: http://dl.acm.org/citation.cfm?doid=176454.176487
Then all the projects and distributions that use it (some are listed  on our website) http://re2c.org/

How do you communicate with moderators?

[2017-07-31 11:25] ruimaciel commented on #168
Unfortunately the original paper and data from the project's website are considered as sources too closely associated with the subject.

I assume that whoever flagged the article already looked into those sources, and found them insufficient.

Are there any 3rd party sources that reference re2c in a meaningful manner?

[2017-07-31 11:36] skvadrik commented on #168
Ninja home page references re2c as one of its build dependencies: http://clausklein.github.io/ninja/#id47
Since ninja itself is used in a plenty of projects (including other build systems such as cmake and meson), re2c is a transitive build dependency of lots of software. :)

PHP also mentions re2c as one of its build dependencies: http://www.phpinternalsbook.com/build_system/building_php.html#obt

[2017-07-31 12:07] ruimaciel commented on #168
I've added those sources and removed the warning from the article.  Let's see if those third-party sources are enough.

[2017-07-31 12:50] skvadrik commented on #168
I hope so, thank you!

[2017-08-07 07:31] skvadrik commented on #140
Amend the list of contributors here: http://re2c.org/about/about.html

[2017-08-11 19:29] ilovezfs opened #193 "1.0 build failure on macOS: error: calling a private constructor of class 're2c::Rule'"
[code]

[code]

[2017-08-11 21:04] trofi commented on #193
Which upstream clang++ version does xcode-8.2.1 correspond to?

[2017-08-11 21:14] skvadrik commented on #193
Please try the fix: https://github.com/skvadrik/re2c/commit/2aae99cd950ef519580378261d720462b4c6d72a
There may be similar errors: on my platform (and a number of other) STL containers `std::valarray` and `std::vector` do not require copy semantics if the storage is allocated once (on initialization) and never reallocated. Every time I get rid of "useless" copy constructors I get the same bug repor

[2017-08-11 21:16] ilovezfs commented on #193
@skvadrik we shall see: https://jenkins.brew.sh/job/Homebrew%20Core%20Pull%20Requests/6415/

[2017-08-11 21:24] ilovezfs commented on #193
@skvadrik yes that looks like it worked :)
https://github.com/Homebrew/homebrew-core/pull/16692 is now :green_apple:

Should I ship with the patch or do you want to tag 1.0.1?

[2017-08-11 21:25] #193 closed

[2017-08-11 21:26] skvadrik commented on #193
I will release 1.0.1 now. :)

[2017-08-11 21:27] ilovezfs commented on #193
@skvadrik cool, thanks :)

[2017-08-22 02:50] Ziris85 opened #194 "Build with "--enable-docs" fails"
Good evening! I just tried compiling the latest point release version (**1.0.1**), and the one prior (**1.0.0**) and get the same trouble. Whenever I compile with the `--enable-docs` flag, the subsequent make command fails with:
[code]
Indeed, there is no `genhelp.sh` file in the tarball:
[code]
Perhaps this is meant to be created on compile? Building without the flag seems to go through, with a m

[2017-08-22 07:52] skvadrik commented on #194
Yep, I forgot to package this script, thanks for reporting!

Documentation is *always* generated (from precompiled files) without ``--enable-docs`` (simple `make` is enough). This configure option is mostly used by re2c developers who change documentation source files and need to regenerate them.

[2017-08-22 08:26] skvadrik commented on #194
The fix: https://github.com/skvadrik/re2c/commit/9a0b9603d24194efecdb41e7444ce926339dc674.

I will release 1.0.2 by the end of the week (after addressing some other documentation issues). Meanwhile, if you just want to *have* docs (and not change and *rebuld* them), configure without ``--enable-docs``.

[2017-08-22 12:33] Ziris85 commented on #194
You're welcome, and snap, I guess I misunderstood the purpose of that flag. Thanks for clarifying!

[2017-08-22 12:57] #194 closed

[2017-08-26 20:27] #151 closed

[2017-08-26 20:29] #183 closed

[2017-09-13 12:40] stephe-ada-guru opened #195 "Please consider using Gnu format for error messages"
See https://www.gnu.org/prep/standards/standards.html#Errors

This makes it easier for IDEs (Emacs in my case) to jump to the error location in the source file.

[2017-09-20 19:07] ruimaciel opened #196 "Implicit type conversion warnings"
While building re2c from source (v1.0.2) I've noticed that there are a couple of type conversion warnings popping out during the build process.   Here are the warnings:

Warning #1:

    rc/ast/parser.cc: In function ‘int yyparse(re2c::context_t&)’:
    src/ast/parser.cc:1128:10: warning: conversion to ‘yytype_int16 {aka short int}’ from ‘int’ may alter its value [-Wconversion]
       *yyssp = yys

[2017-09-20 21:06] skvadrik commented on #196
Hi Rui,

Thanks for the patch, but `parser.cc` is a bison-generated file, so fixing the warnings requires fixing bison.

I've seen these warnings ever since I enabled `-Wconversion` and `-Wsign-conversion` options, and that was 2 years ago. The majority of bison users either build without these warnings, or just ignore them. I reported this to bison mailing list and Akim Demaille replied that the

[2017-11-04 20:38] sergeyklay opened #197 "Zephir: re2c 1.0.2 keeps the initial "/" at the beginning of an "docblock""
Hi @skvadrik

It seems to me there are some backward incompatible changes in re2c 1.x.
We use the following expression for Zephir Language:

[code]

to find comments of the form:
[code]

So **`token->value`** for re2c  >= 0.13.6 && < 1.0 is:
[code]

but for re2c  >= 1.0 is:
[code]

Did I create the backward incompatible expression to catch "docblocks"  or is it the expected behavior?
Thanks

----

[2017-11-04 23:24] skvadrik commented on #197
Hi Serghei, I'm unable to reproduce the difference with re2c-1.0.2 and re2c-0.15.3.
I'm running `re2c -i` on the code:
[code]
The output is identical (up to the date and version info that re2c includes in the generated file).

So please attach the full example and re2c options.

[2017-11-04 23:26] skvadrik commented on #197
I managed to reproduce the dfference on `php-zephir-parser/parser/scanner.re`, looking into it.

[2017-11-05 00:06] skvadrik commented on #197
Did you test with re2c-0.16? It seems that the change is between 0.15.3 and 0.16 rather than between 0.16 and 1.0.2.

[2017-11-05 00:08] sergeyklay commented on #197
Hmmm.. Nope :-/ I have to try

[2017-11-05 09:13] sergeyklay commented on #197
Just tested 0.16. Works as expected (without initial "/").

[2017-11-05 09:31] skvadrik commented on #197
Ok, what re2c options are you using?

[2017-11-05 10:28] sergeyklay commented on #197
`--no-generation-date -o scanner.c scanner.re`

[2017-11-05 10:33] skvadrik commented on #197
One of the differences between 0.16 and 1.0.2 is in handling `yyaccept`. This I was able to bisect down to f51403dc4a79242b812ed9e51f4dc94fc9790256. I cannot be completely sure that this is the breaking change though, since I don't have a minimal test case for it.

[2017-11-05 10:43] skvadrik commented on #197
Here are two files: `parser1.cc` generated before the (presumably) faulty commit and `parser2.cc` generated after it. Could you try building zephyr with both files and confirm the difference?

[parser1.cc.txt](https://github.com/skvadrik/re2c/files/1443929/parser1.cc.txt)
[parser2.cc.txt](https://github.com/skvadrik/re2c/files/1443930/parser2.cc.txt)

[2017-11-05 11:20] sergeyklay commented on #197
Both tests was passed successfully.

[2017-11-05 11:39] sergeyklay commented on #197
Just to you know. Such ugly patch:
[code]

solves all out problems.

I used this patched version called as "development" in Zephir tests. As you can see all tests with patched parser version was passed successfully https://travis-ci.org/phalcon/zephir/builds/297509488. Also there are failed tests for non patched version.

Also I used local environment to tests [Zephir Parser](https://github.com/ph

[2017-11-05 11:52] sergeyklay commented on #197
@skvadrik Both files has `Generated by re2c 0.16 ` in the header. So it should be?

[2017-11-05 12:12] skvadrik commented on #197
Yes, they were generated with an two intermediate re2c versions (between 0.16 and 1.0.2), different in one commit only. Now at least we know that the changes introduced by https://github.com/skvadrik/re2c/commit/f51403dc4a79242b812ed9e51f4dc94fc9790256 do not break anything.

I will try building `php-zephir-parser`, reproducing the actual failure and bisecting once again.

[2017-11-05 13:30] sergeyklay commented on #197
Feel free to ask me in case of any issue with setting up local environment.

[2017-11-05 14:00] skvadrik commented on #197
Eh, it turns out https://github.com/skvadrik/re2c/commit/f51403dc4a79242b812ed9e51f4dc94fc9790256 is the faulty commit indeed. When I sent you the pre-generated files, I forgot to comment out your fix, so naturally you weren't able to spot the difference. :)

[2017-11-05 21:14] skvadrik commented on #197
So after some thinking I've come to the following conclusions.

The real problem seems to be in the use of local variable `q`. First, you use `q` to define `YYMARKER`. Then you use `q` for your own needs, probably as a lexeme start marker (but sometimes you use `start` instead of `q`). Note that re2c makes no guarantees on how `YYMARKER` is used: depending on the control flow in lexer the value of

[2017-11-05 22:24] sergeyklay commented on #197
Oh, good catch! I'll try to play around with this ASAP. Currently 00:30 AM here :)

[2017-11-05 23:59] skvadrik commented on #197
Sure, there's no rush. Now that I know that it's not a bug in re2c internal optimization algorithm, I don't need to fix anything. And you have a workaround for `php-zephir-parser`.

If you have any further troubles with re2c API, I'd be glad to help. I'm leaving the bug open until everything is sorted out.

[2017-11-06 14:50] Izopi4a commented on #197
sorry for the offtopic, I just can not restrain myself
Skvadrik is officially the nicest person in GitHub

[2017-11-06 21:04] skvadrik commented on #197
Eh, things might have been different if it *was* a bug in re2c internals. :D

[2017-11-07 18:29] ryandesign opened #198 "no match for ‘operator!=’ in ‘i != std::vector<_Tp, _Alloc>::rend() [with _Tp = re2c::bitmap_t, _Alloc = std::allocator<re2c::bitmap_t>]()’"
Hello, I'm a developer with the MacPorts package management system, and I noticed that re2c 1.0.2 does not build on Mac OS X 10.5.8 with its gcc version 4.2.1 (Apple Inc. build 5577). The error is:

[code]

I am not a C++ programmer so I can't offer any suggestions.

[2017-11-07 18:48] ryandesign commented on #198
I should add that the above build failure is on a 32-bit PowerPC Mac, Mac OS X 10.5.8, Xcode 3.1.4's `gcc version 4.2.1 (Apple Inc. build 5577)`. The same problem occurs if I use a newer Apple gcc from MacPorts (`gcc version 4.2.1 (Apple Inc. build 5666) (dot 3) (MacPorts apple-gcc42 5666.3_15)`).

The build succeeds on a 32-bit Intel Mac, Mac OS X 10.6.8, Xcode 3.2.6's `gcc version 4.2.1 (Apple I

[2017-11-07 22:16] skvadrik commented on #198
Hi Ryan,

It seems that the problem is caused by an old compiler version that is unable to deduce `const`-ness of a loop variable in the following (pseudo)code:
[code]
Here `v.rend()` might refer to one of the two overloads:
[code]
The compiler should deduce the second overload (as the only possible), but for some reason it fails. You can find this issue on stackoverflow: https://stackoverflow.com

[2017-11-07 23:37] ryandesign commented on #198
Unfortunately, no newer version of Apple gcc exists. gcc 4.3 changed the license to GPL-3, which caused Apple to abandon it and move development to clang, which is a great compiler that we use on newer systems, but it does not work on PowerPC systems. We could probably use a newer FSF gcc on PowerPC systems, at the expense of being able to compile for multiple architectures, since that was a featu

[2017-11-08 07:33] skvadrik commented on #198
I created a separate branch `mac_ports` with the necessary fix. Can you check that it works? https://github.com/skvadrik/re2c/commit/5b95c8ed0a95cf7568377a36d4eed3f59aea2eb6

Since it concerns MacOS on PowerPC (and other systems not supported by clang), I will consider merging the fix in master. But the sad thing is, I'll probably break it again in the next release.

[2017-11-08 17:31] ryandesign commented on #198
Thanks, I really appreciate your willingness to work on this.

That patch works and I've applied it to MacPorts. If it breaks in the future, I know what to look for and will try to send you fixes.

[2017-11-08 20:15] sergeyklay commented on #197
Fixed. Thank you very much :+1:

[2017-11-08 20:15] #197 closed

[2017-11-08 20:22] skvadrik commented on #197
Cool!

[2017-11-08 21:06] skvadrik commented on #198
Ok! Since the patch is trivial, I've pushed it to master and released 1.0.3.

[2018-02-24 08:45] TopN opened #199 "example Numbers result not match"
example url: http://re2c.org/examples/example_01.html

[code]

On macOS Sierra result:

[code]

My env:

[code]

[2018-02-24 09:20] skvadrik commented on #199
Looks to me like the intended input bytes never reach the program: either your shell substituted ``?`` with something else, or an unusual encoding is used (the program expects ASCII, but should work with UTF-8 as well). I suggest the following:

* quote ``?`` as``'?'``
* run executable with ``LANG=C``
* check the input byte stream with ``echo -n '?' | hexdump -C`` or redirect to file and view file

[2018-02-24 09:47] TopN commented on #199
hi, skvadrik thanks for your help.

i had try the next in my environment：

[code]

I also try integers_v2.re.txt, and get the right result:

[code]

[2018-02-24 09:47] skvadrik commented on #140
Update quoting in examples: https://github.com/skvadrik/re2c/issues/199

[2018-02-24 09:47] skvadrik commented on #199
Eh, I never realized that ``?`` in POSIX shell matches any one-symbol filename. Quotes should fix the problem for you. :)

http://pubs.opengroup.org/onlinepubs/009695399/utilities/xcu_chap02.html

?
    A question-mark is a pattern that shall match any character.

[2018-02-24 10:24] TopN commented on #199
Thanks for your help. :)

[2018-02-25 00:38] #199 closed

[2018-04-08 12:02] cshorler opened #200 ":=> condition (with a stack)"
I've implemented a lexer using re2c that mirrors flex's use of a condition stack, it works well with a couple workarounds.  I'd like a bit of clarity on the default rule and direct goto as below (I'm using this to implement inclusive conditions).

[code]
results in code like this:
[code]

In the case of the default action (goto p133) the cursor is advanced (in my case, this means the ";" is eaten

[2018-04-08 15:04] skvadrik commented on #200
Hi Chris, I think that you should just use empty string `""` instead of default rule `*`:
[code]
This way the rule says exactly that what you're trying to achieve: if none of the input could be matched, go to some other condition and resume from there. Note that you can use trailing context if you want to match some input without consuming it, as in http://re2c.org/examples/example_05.html at line

[2018-04-08 16:30] cshorler commented on #200
Yes you understood about unreachable rules - but it might be difficult to achieve that, except perhaps with specific circumstances.

I will try your first idea - the empty string:  That fits much better with what I'm trying to achieve, you're correct.  I hadn't realised this could be done.

[2018-04-08 16:44] cshorler commented on #200
first attempt - not sure if this was a success or not (line 900 is a catchall for bad input)
[code]

[code]

[2018-04-08 17:03] skvadrik commented on #200
It's because of the rule `<*> *`: it is merged to all conditions, and it matches longer than `""`, therefore rule `<STMT> ""` is shadowed and becomes unreachable (the other rule `<*> WS+` is reported because part of the shadowing matches correspond to this rule). You'll need to specify conditions for default rule explicitly.

As for `-Wmatch-empty-string` warning, re2c gives it because sometimes n

[2018-04-08 17:10] cshorler commented on #200
okay thanks - FYI, I updated the other comment - because I misread your first response slightly.  I'll try the above now

[2018-04-08 17:39] cshorler commented on #200
confirmed that works - thanks!

It's unfortunate there's no syntax for exclusionary conditions
e.g. there is the wildcard
`<*> *`
and a dedicated listing
[code]
it would be useful to be able to do
`<* - P2,STMT> * { }`
(a kind of set deduction / difference glob)

[2018-04-08 17:49] skvadrik commented on #200
If you use `<STMT> ""` instead of `<STMT> *`, the default clause won't consume anything and `P3` will still see `x` before `;`, so the erroneous scenario above won't happen, right?

By the way, I just noticed that you use rules like this:
[code]
This is incorrect because you have a fallthrough at the end of rule: re2c does not automatically generate any `goto` here (it only happens with the specia

[2018-04-08 17:51] skvadrik commented on #200
Yes, and not too hard to implement (the hardest bit is deciding on the syntax). I'll change the name of the issue and leave it open as a feature request for now.

[2018-04-08 19:52] cshorler commented on #200
okay, that sounds great - a new feature, thanks!

and FYI - regarding the missing continue / return... in fact I already spotted it
now everything ends with continue or return depending on the lexical step (it's a 3 pass lexer)

[code]

[2018-04-13 13:46] Durimar opened #201 "Bugs with option: re2c:flags:no-debug-info"
Hello,
i test re2c with simple file test.re:
//---------------------------
/*!re2c
    re2c:flags:no-debug-info = 1;
*/
int get_token(const char *cur)
{
   return 0;
}
//--------------------

and found that:

1.
re2c always generate debug #line1 (with no-debug-info = 1 and with no-debug-info = 0):
#line 1 "D:\Proj\ConsoleApp1\test.re"

2.
Visual Studio 2017 generate warning
1>d:\proj\consoleapp1\t

[2018-04-13 23:32] skvadrik commented on #201
Both issues confirmed, thanks for reporting.

I pushed the fix for backslash escapes: https://github.com/skvadrik/re2c/commit/4a614d60075eafbdcedf1707c886591a57f32982.

I might have a look at line info issue tomorrow, it's not that difficult. A long time ago re2c used to make one pass over the input and write output straight away, and in some places that one-pass approach still remains. In particu

[2018-04-14 20:55] skvadrik commented on #201
Pushed the fix for `#line` directives: https://github.com/skvadrik/re2c/commit/fe4bf2e3857fd29b8d00264a2540366db57da4d6.

[2018-04-17 13:29] Durimar opened #202 "Option re2c:flags:input not working"
Hello.
I can't enable 'custom' input mode.

//-- test.re - start ----------------------
[code]
//-- test.re - end -----------------------

D:\re2c.exe test.re
re2c: error: line 2, column 9: bad configuration value (expected: 'default', 'custom')

Thanks.

[2018-04-17 13:42] Durimar opened #203 "Feature request: Need re2c:flags:no-generation-date config option"
Hello.

I found that for some usefull command line options there is no configuration with re2c : flags : *** API.

[code]

May be some other options (i didn't check all options)

Thanks.

[2018-04-17 19:36] skvadrik commented on #202
Hi! `custom` is considered a keyword here, not a string, so re2c expects it without quotes:
[code]
The above does work. I realize this might be confusing, so it's probably worth recognizing keywords in quotes as well as without quotes.

[2018-04-18 19:06] skvadrik commented on #203
The reason why these options (and some others) were not added as configurations is because they only make sense for the entire file, not for each particular re2c block. It's not clear what should happen in a case like this:
[code]
On one hand, we can say that the latest configuration overrides all the previous ones, and in that case the date must be generated. On the other hand, date logically bel

[2018-05-08 09:15] 745198699 opened #204 "[Bug] can not compile "[^a]+" corecttly."
Follow the second example "Strings", and [^a]+ can not match "111".

CODE:
[code]
[code]

[2018-05-09 02:27] 745198699 commented on #204
Thank you very much!

[2018-05-09 03:06] 745198699 commented on #204
BTW. Is there any other way to solve this problem, except specifying the padding?

[2018-05-09 21:49] skvadrik commented on #204
In this case lexer checks for the end of input at each input character, and it does stop at the end of input.

But! When you pass `111` input string, it is in fact `111\0` with the terminating zero. The whole `111\0` does match `[^a]+`, not just the `111`, therefore the end of input happens in the middle of lexeme.

The only possible way to reach the `printf` statement is when the rule `[^a]+` mat

[2018-05-20 20:42] rorlork opened #205 "C++98 example fails to generate"
I was trying to use the example as a starting point, but when trying to generate the C file from it the following error is returned by re2c

`re2c : error : line 116, column 32: define 'define:YYCURSOR' already being used and cannot be changed`

as far as I can tell this is because in line 100, YYCURSOR is defined as s:

```		re2c:define:YYCURSOR = s;```

and then in line 116 it's trying to redefi

[2018-05-21 11:08] rorlork commented on #205
Okay you are right. I forgot I was using a version that was made to compile in visual studio, from https://github.com/wjk/re2c-win32 and that is from version 0.14.3 of the lexer. Sorry for the misunderstanding, I'll close the issue and upgrade to that.

[2018-05-21 11:08] #205 closed

[2018-05-21 18:28] skvadrik commented on #205
No worries. :)

[2018-06-06 06:12] #204 closed

[2018-06-10 19:38] fbenkstein opened #206 "wrong long option for -c mode"
The long option for `-c` is wrong in the documentation pretty much everywhere.  It's documented as `--conditions` but it's actually `--start-conditions`.  I suggest accepting both and also adding a hint in the documentation like "Up until <release-version> this option was only accepted in the `--start-conditions` variant even though the documentation called it `--conditions`.

https://github.com/s

[2018-06-11 20:43] skvadrik commented on #206
Fixed: https://github.com/skvadrik/re2c/commit/25c327f5987ae043542a21442450d6489bd0b0c6. Thanks for reporting!

[2018-06-18 08:41] lego12239 opened #207 "make generic API more generic"
Hi.

It would be great if re2c generate "YYPEEK(&yych);" instead of "yych = YYPEEK();". In this case,
we can in addition to default variant:

#define YYPEEK(yych) *yych = *pos

do something like this:

#define YYPEEK(yych) if (pos == end) { fill(); } *yych = *pos

[2018-06-19 09:39] 745198699 opened #208 "Is there a way to support Non-greedy match?"
For example "a+?"

[2018-06-19 20:15] skvadrik commented on #208
Short answer: no, re2c currently has no support for non-greedy match.

Long answer: this is probably not what you need, but non-greedy *submatch* extraction can be done with re2c `--tags` option by putting non-consuming part of alternative before the consuming part: `""|"a"`, as in this example:
[code]
If I run it on a string `"aaaaa"`, all `'a'` characters are matched by the second part of the ru

[2018-06-19 21:15] #206 closed

[2018-06-25 10:05] IronCaterpillar opened #209 "Tags use with --input custom"
Is there a way to use tags when I use --input custom? I'm using some kind of stdio-like  input from file, but when I try to use tags, temporary vars like _yyt1_ are created like _const char*_ and I can't compile the generated source.

[2018-06-25 18:49] pskocik commented on #98
This doesn't appear to be working. I tried to use lemon output (with #line directives) as re2c input and large parts of the generated source got deleted. If I try feeding the output of running re2c on

	typedef enum num_t { ERR, BIN, OCT, DEC, HEX } num_t;
	static num_t lex(const char *YYCURSOR)
	{
		const char *YYMARKER;
		/*!re2c
			re2c:define:YYCTYPE = char;
			re2c:yyfill:enable = 0;

			end

[2018-06-25 22:36] skvadrik commented on #209
Yes, it's absolutely possible: you need to use tag-specific primitives `YYSTAGP`, `YYSTAGN`, `YYRESTORETAG` and so on (in general, you can generate the code with `--input custom --tags` and see what primitives are being used). Sorry the documentation is lacking.

Here is a small example that parses IPv4 strings:
[code]
Generate, compile and run as:
[code]

[2018-06-26 04:31] IronCaterpillar commented on #209
Ok, thanks! Now I can separate good input from bad and save tag start into variable. But to read the tag I have to re-read it from file. Is it possible to save it while parsing the file?

[2018-06-26 08:08] IronCaterpillar commented on #209
Finally I've made it up to work. The code below is awkward but working. It's a remake of _/etc/passwd_ example.

[code]

[2018-06-26 08:08] #209 closed

[2018-06-26 22:20] skvadrik commented on #209
Good! Note that you should use this:
[code]
instead of this:
[code]
And in other places where you need to write repetitive code for each tag variable (as the number of tag variables is something determined by re2c and potentially unstable).

[2018-06-27 04:40] IronCaterpillar commented on #209
Thank you! It's very convenient! I hope, sometime it will be described in docs ))

[2018-06-27 06:05] skvadrik commented on #209
Well... it is described here: http://re2c.org/manual/features/submatch/submatch.html and used in the examples. :)

[2018-06-27 06:46] IronCaterpillar commented on #209
Excellent ))

[2018-06-27 09:22] IronCaterpillar commented on #209
Is there a way to determine the size of captured tag? I understand, that it can be calculated by subtracting tag start from the next captured tag start as it is made in the examples but what if there are unknown count of spaces in between?

[2018-06-27 19:38] skvadrik commented on #209
You can use a pair of tags to surround each word:
[code]
re2c performs optimizations and tries to reduce the number of internal tag variables, so if you write something like `[a]+ @x @y @z [b]+`, re2c will use only one tag variable to represent all three tags `x`, `y` and `z`.

Alternatively, you can also use `--posix-captures` for POSIX-style submatch extraction. For example, here we expect two l

[2018-06-27 21:43] skvadrik commented on #140
Add examples for `--posix-captures` and `--input custom --tags` mentioned here: https://github.com/skvadrik/re2c/issues/209#issuecomment-400604386

[2018-06-28 06:36] IronCaterpillar commented on #209
Thanks a lot for you help! I highly appreciate your fast answering and support!

[2018-07-04 15:06] chjhaijiang opened #210 "How to build re2c in windows?"
Do we have any specific request for GCC version to build Re2c on Windows?

Follow the steps:
6. Build for windows using mingw:
    $ ../configure --host i686-w64-mingw32  [--prefix=<prefix>]
    $ make

I got below errors:
c:\hchen\mingw\lib\gcc\mingw32\6.3.0\include\c++\cwchar:164:11: error: '::vfwscanf' has not been declared
   using ::vfwscanf;
           ^~~~~~~~
c:\hchen\mingw\lib\gcc\mingw32

[2018-07-04 17:03] sergeyklay commented on #210
This can be related to the compiler configuration issues. I'm not pretty sure but it's probably it is an issue related to the older MinGW compiler. Just for test try to use mingw-w64.

[2018-07-04 21:40] skvadrik commented on #210
@chjhaijiang, are you able to build a minimal hello-world C++ program with you MinGW toolchain?

[2018-07-05 01:12] chjhaijiang commented on #210
@skvadrik, Yes.  The simple hello-world example below can be run.
[code]

[2018-07-06 10:09] chjhaijiang commented on #210
Alternatively, Do we have a 1.0.3 release binary for windows 64-bit to use?

[2018-07-06 11:40] skvadrik commented on #210
I've uploaded a windows binary built on linux (built with MinGW version 7.3.0): https://github.com/skvadrik/re2c/releases/download/1.0.3/re2c-1.0.3.exe.zip.

I'm also trying to build in a windows VM with MinGW to see if I can reproduce the failure, but so far I have problems setting up a working environment.

[2018-07-09 07:00] chjhaijiang commented on #210
@skvadrik, Build re2c.exe with cygwin64 seems worked for me.
But if I build with ../configure --host i686-w64-mingw32, then If I run re2c.exe, It pop up a error that libgcc_s_sjlj-1.dll is missed.

Is it because re2c is dynamic linked with other dlls? Do we have a static link configure option to be used with?
Thanks

[2018-07-09 21:04] skvadrik commented on #210
See https://stackoverflow.com/a/4703059/815525.
I think you get the error because 1) re2c.exe is dynamically linked with this libgcc_s_sjlj-1.dll, and 2) when you run re2c.exe, the dynamic linker cannot find this library. Item 1 can be fixed with `-static-libgcc -static-libstdc++`, and item 2 can be fixed by adding the path to the library to `PATH` environment variable. Fixing either 1 or 2 should

[2018-07-09 21:15] skvadrik commented on #210
Note that you can add the options to `CXXFLAGS` as follows:
[code]
If you then run `make V=1`, you'll see that the options are passed to the C++ compiler. Finally, on Linux (and perhaps in Cygwin) you can see all the dynamic dependencies of your `re2c.exe` executable with `ldd`. For example, on my system I have the following, when running `configure` without options:
[code]
And if I configure with

[2018-07-09 23:02] chjhaijiang commented on #210
@skvadrik, Thank you very much. I will get it confirmed and give another comment here.

[2018-08-27 20:35] #201 closed

[2018-08-28 15:09] floppym opened #211 "re2c -V throws std::out_of_range"
As reported on Gentoo Linux.

https://bugs.gentoo.org/664752
[code]

[2018-08-28 19:21] #211 closed

[2018-08-29 16:44] danielluke opened #214 "re2c -V crashes (was re2c 1.1 fails with spamassassin 3.4.1 (sa-compile) / perl 5.28.0)"
% sa-compile -D
libc++abi.dylib: terminating with uncaught exception of type std::out_of_range: basic_string
/opt/perlbrew/perls/perl-5.28.0/bin/sa-compile requires re2c for proper operation.

re2c 1.0.3 works fine.

I haven't investigated this any further (yet).

[2018-08-29 16:45] danielluke commented on #214
on Mac OS X 10.13.6

[2018-08-29 18:00] pmetzger commented on #214
I don't know that this provides enough information to reproduce the problem.

[2018-08-29 18:34] danielluke commented on #214
re2c -V crashes (which is what causes sa-compile to fail).

[2018-08-29 18:36] pmetzger commented on #214
I can reproduce that.

[2018-08-29 18:36] danielluke commented on #214
commenting out the test in sa-compile lets it run successfully.

[2018-08-29 18:37] pmetzger commented on #214
This clearly needs fixing though. Nothing should cause a properly behaving program to dump core. I note that the test suite passes without incident.

[2018-08-29 18:42] pmetzger commented on #214
@danielluke Could you change the issue title to "re2c -V crashes" or some such?

[2018-08-29 18:50] danielluke commented on #214
I wanted to leave the spamassassin stuff in there since I expect others to see this issue and spamassassin is pretty widely used (hopefully it will appear in searches and help others out).

[2018-08-29 18:54] skvadrik commented on #214
Can you please check the yesterday's fix in master? https://github.com/skvadrik/re2c/commit/348d8689beaa749a18d394a103335d2c64f7b8b4

[2018-08-29 18:56] skvadrik commented on #214
I will release 1.1.1 soon, just need to sort out a couple of related things.

[2018-08-29 19:39] danielluke commented on #214
1.1 with the patch from that change seems to work:

% ./re2c -V
010100

[2018-08-29 19:42] pmetzger commented on #214
That patch fixes it.

[2018-08-30 22:45] skvadrik commented on #214
Released 1.1.1. Closing the issue.

[2018-08-30 22:45] #214 closed

[2018-09-03 22:34] mlite opened #215 "A memory read overrun issue in s_to_n32_unsafe.cc"
This is the runtime error msg caused by the overrun.
[code]

[2018-09-04 06:04] skvadrik commented on #215
Do you have the .re file which caused the failure?

[2018-09-04 18:44] trofi commented on #215
Looks like it's caused by the test itself: `re2c/src/test/s_to_n32_unsafe/test.cc`. I haven't found plausible call path yet but a few `use-of-uninitialized-value` reports are detectable by clang's `fsanitize=memory`:

[code]

I'll try to add travis presubmit for a few sanitizers.

[2018-09-04 19:10] skvadrik commented on #215
Eh, I didn't read the bug report properly.

Valgrind also reports the error:
[code]

[2018-09-04 19:40] skvadrik commented on #215
The error has been fixed (at least the one I can reproduce with Valgrind), see https://github.com/skvadrik/re2c/commit/a439ca0828d6c1a8baa6ada3f3985499610c7e86?diff=unified.

@mlite, can you confirm the fix with your analyzer?

@trofi, thank you! :)

[2018-09-05 03:03] mlite commented on #215
the culprit is overflow-1.re.  The memory read overrun is fixed, but I get stack overflow. What is the purpose of this test? to overflow the call stack?

[2018-09-05 06:14] skvadrik commented on #215
It's a different bug. Can you open a new issue and specify what function overflowed? There is a number of recursive functions in re2c, and if the default stack size on your plaftorm is small (compared to that on the platforms where we test re2c), than it is quite possible that one of the recursive functions exhausted the stack.

No, actually it's to overflow re2c lexer buffer with an unexpectedly

[2018-09-05 07:12] trofi opened #219 "overflow-1.re test fails on system with small stack"
Factoring out the issue of https://github.com/skvadrik/re2c/issues/215#issuecomment-418584435

On small stack systems (`ulimit -s 256`) `overflow-1.re` test fails:

[code]

[2018-09-05 07:17] trofi commented on #219
[code]

[2018-09-06 06:27] mlite commented on #215
It's Linux. This issue is fixed. I will try it with a larger stack size.

[2018-09-06 06:27] #215 closed

[2018-10-13 02:18] rofl0r opened #221 "big source tarball"
hi, i've just updated re2c from 0.14 to 1.1.1 >>[0]<< and noticed the tarball grew from 2.5 to 5.9MB, which is quite big considering the built executable is only 300 KB!
maybe there's some binary documentation inside that bloats the source unnecessarily and could be offered as a secondary download to interested people ?
since folks like me who build their stuff from source usually keep the tarball

[2018-10-13 07:11] trofi commented on #221
We can check what is actually used in tarball by re-compressing individual directories to get the idea:

[code]

As we can see these are mostly tests. `6MB` does not sounds like an unreasonable number.

[2018-10-13 07:34] skvadrik commented on #221
My conclusion is the same: tests eat all the space (and they will only grow over time). Without tests the resulting tarball is about 100K. We can potentially package stripped tarball without tests, but that requires fiddling with automake conditionals to make things like `make check` pass for the stripped tarball. Is it worth the effort?

@rofl0r: Since you build from source, it is likely that you

[2018-10-13 07:35] skvadrik commented on #221
I measured `.tar.xz` size, and it is about 2.7M, so maybe using xz the best option.

[2018-10-13 09:31] leo-yuriev commented on #221
git-submodule with test's code and data?

[2018-10-13 13:32] rofl0r commented on #221
not really. all our packages do --disable-tests, when possible, to save time, and to allow cross-compilation (tests work only for native compiles anyway).

[2018-10-16 23:18] skvadrik commented on #221
@trofi pushed a fix that switches to .tar.xz by default and reduces tarball size 2x.

Hmm... I might be wrong, but it seems that a moderately-lazy distro maintainer would grab the same tarball, or do the same `git clone` command regardless of whether the tests are enabled or not, and later on decide what to do with the tests. So git submodules won't prevent you from mis-judging the size of the pro

[2018-10-16 23:59] rofl0r commented on #221
great, thanks!

git submodules weren't my idea, and i don't think they'd help tbh. i'm specifically talking about *release tarballs*, not github's tarball-from-tag feature.

since the testsuite of re2c seems to be incredibly voluminous, my personal preference would be to create 2 tarballs during `make dist`: `re2c-x.y.z.tar.xz` and `re2c-testsuite-x.y.z.tar.xz` or alternatively `re2c-x.y.z-onlysou

[2018-10-21 22:12] #198 closed

[2018-10-28 07:12] fgeek opened #225 "Documentation link is broken in libre2c/README"
[code]
[code]

[2018-10-28 07:15] fgeek commented on #225
Also re2c/README says:
[code]

[2018-10-28 10:06] skvadrik commented on #225
Unfortunately libre2c is not maintained at the moment (it was a side project and has been out-of-sync with re2c for some time now).

I updated READMEs for both re2c and libre2c: https://github.com/skvadrik/re2c/commit/10ac1a2e46130cbd1b652287703b18b6fbdcefaf, https://github.com/skvadrik/re2c/commit/ae2104669be563e88c6506bceb24022236c32b74.

I'm sure you found examples on the website, but just in c

[2018-10-28 15:17] fgeek opened #226 "ASan heap-buffer-overflow in re2c::Scanner::scan"
Tested commit: 22b73eddedd41b2ebb10d17a3e669121dd6418d2
Credit: Henri Salo from Nixu Corporation
Tools: [american fuzzy lop](http://lcamtuf.coredump.cx/afl/) 2.52b, [afl-utils](https://gitlab.com/rc0r/afl-utils)

Reproducer [re2c-2018-10-28-crash-001.txt.zip](https://github.com/skvadrik/re2c/files/2522869/re2c-2018-10-28-crash-001.txt.zip) (SHA1 bb5bd8951a063f76d8dbc3525c6e127e9094407b)
[code]
ASa

[2018-10-28 22:44] skvadrik commented on #226
Confirmed, the error is caused by assuming that strings in the source code cannot contain a sequence of zero bytes (they can in C/C++). RE2C has to "parse" C/C++ code in order to find the closing curly brace in semantic actions.

There is a number of possible fixes and I'm trying to find the best one.Thanks for reporting!

[2018-10-29 18:16] fgeek commented on #226
@skvadrik Thank you for quick reply. I have some other cases from fuzzing. Do you prefer issue report per unique case or zip file with all samples e.g. via email? I can also give you short introduction how to use afl, but I'm more than happy to continue fuzzing after fixes.

[2018-10-29 23:32] skvadrik commented on #226
Pushed a fix: https://github.com/skvadrik/re2c/commit/44737d3792dcdcf0fb2279e76f3ce7a1add21ea5

@fgeek I'll be greedy, let's have the whole zip at once. :) I think you can attach it right here, but email is also fine (re2c-devel@lists.sourceforge.net is the official mailing list). I shall learn to use afl myself (probably not that hard), but let's fix what you've found first.

[2018-10-30 22:21] skvadrik commented on #226
Pushed a fix for the other two crashes: https://github.com/skvadrik/re2c/commit/f062a8bb824148d657d98819135f1babfdb4d383. Thanks for afl links!

[2018-10-31 18:39] fgeek commented on #226
[re2c-2018-10-31.zip](https://github.com/skvadrik/re2c/files/2535859/re2c-2018-10-31.zip)

[2018-11-01 00:06] skvadrik commented on #226
Fixed! https://github.com/skvadrik/re2c/commit/0f7b449e0197e5faea9fd36912fd6e3712f4599c

[2018-11-02 10:11] fgeek commented on #226
Thank you. I'll open new issue report if I find something else. Currently running 731 executions per second with nine CPU cores.

[2018-11-02 10:11] #226 closed

[2018-11-04 07:43] fgeek opened #227 "AddressSanitizer: SEGV src/ast/validate.cc:49 in re2c::validate_ast(std::vector<re2c::spec_t, std::allocator<re2c::spec_t> > const&, bool)"
Tested commit: c432c5c34c60a9e450714a7d1d5c39b34c9fd0a0
Tools: [american fuzzy lop](http://lcamtuf.coredump.cx/afl/) 2.52b, [afl-utils](https://gitlab.com/rc0r/afl-utils)
[re2c-2018-11-04-001.zip](https://github.com/skvadrik/re2c/files/2545647/re2c-2018-11-04-001.zip)
[code]
[code]

[2018-11-04 07:55] fgeek opened #228 "AddressSanitizer: heap-buffer-overflow src/ast/lex_conf.cc:4012 in re2c::Scanner::lex_conf_string[abi:cxx11]()"
Tested commit: c432c5c34c60a9e450714a7d1d5c39b34c9fd0a0
Credit: Henri Salo
[re2c-2018-11-04-002.zip](https://github.com/skvadrik/re2c/files/2545655/re2c-2018-11-04-002.zip)
[code]

[2018-11-04 14:52] genivia-inc opened #229 "re2c option -F (flex syntax) broken"
re2x -F (Flex syntax) version 1.1.1 throws a syntax error for the regex `(a|ab)ba` but the regex `(a|ab)(ba)` works fine for some reason. This is valid Flex syntax.

I can work around this issue for now by using regex `("a"|"ab")"ba"`, but it would be nice if re2c accepts Flex syntax.

[2018-11-04 22:46] skvadrik commented on #228
Thanks! Pushed a fix: https://github.com/skvadrik/re2c/commit/5315a6db02ce495a9ced5db128aabf1f1dd1c621

[2018-11-04 23:04] skvadrik commented on #227
Confirmed, minimized example is:
[code]

[2018-11-05 07:40] skvadrik commented on #229
This does look like an error to me. But this behaviour goes back as far as re2c-0.13.6 (and supposedly before that), and Flex syntax has always been only vaguely defined in re2c. I first need to understand what re2c already supports (otherwise the fix may break someone else's code), and then see how we can fix that without introducing ambiguity in grammar.

There is another workaround. This causes

[2018-11-05 14:10] genivia-inc commented on #229
Thanks for the suggestion. With the `{ }` code block on the same line it is strange that any character after a `)`, `]`, `*` or `+` in the regex causes this failure, e.g. `(a)b` and `[a]b` and `a*b` and `a+b` fail.

[2018-11-06 00:42] skvadrik commented on #229
@genivia-inc It's not the special characters `)`, `]`, `*`, `+` that cause the error, it's the raw character at the end of the regexp followed by one or more spaces and the opening brace `{`. This simple example also fails:
[code]
The reason why it fails is partly historical: partial support for flex syntax was added on top of already existing re2c-specific syntax, which caused parsing conflicts (

[2018-11-14 22:00] skvadrik commented on #229
@genivia-inc This should fix your example (and a couple of other cases in `-F` mode): https://github.com/skvadrik/re2c/commit/30a0682c036d07dd6ff5b92d5893a348cc7b777a

[2018-11-16 00:00] skvadrik commented on #227
@fgeek Should be fixed by this commit: https://github.com/skvadrik/re2c/commit/e566a24ae79cae87e37d947ae5f201307b315b99.

[2018-11-16 07:54] fgeek commented on #227
Confirmed. Thank you!

[2018-11-16 07:54] #227 closed

[2018-11-27 04:58] TomUdale commented on #210
Greetings,  I was wondering if this had been resolved.  I am seeing the exact same error messages as the original post while trying to compile re2c v 1.1.1 using brand new mingw (updated Nov 16, 2018) on Windows 7 64 bit.

I agree with @sergeyklay that is very much feels like a compiler configuration issue but I am way out of my depth with mingw/gcc.  Any thoughts on what to try?  I am happy to pr

[2018-11-27 06:07] chjhaijiang commented on #210
Yes, this issue can be closed. I switched to use cygwin for building. It was working to me.

[2018-11-27 23:15] skvadrik commented on #210
@TomUdale It seems to be a mingw issue (googling shows lots of similar errors in other projects). You can try reporting the bug upstream (former sf issue tracker https://sourceforge.net/p/mingw/bugs/ now points to osdn tracker https://osdn.net/projects/mingw/ticket/). Some suggest using `-std=gnu++11` compiler flag as a workaround (RE2C use `-std=c++98` by default).

[2018-11-28 04:06] TomUdale commented on #210
@skvadrik I edited the config.ac file to change the -std setting to gnu++11 as you suggested (not sure if this is the "correct" way - I expect there is some switch to configure that is more appropriate) and it worked in my hands.  I did get two integer conversion warnings in parser.cc - they do not look dramatic.

I ran the resulting re2c.exe (both in the build location and in another location) in

[2018-11-28 07:14] skvadrik commented on #210
@TomUdale Good to know that it worked!

The usual way to override `CXXFLAGS` defined in configure.ac is to pass `CXXFLAGS="-std=gnu++11"` to configure.

You can validate the build by running RE2C test suite: `make test`, but that runs a bash script, so it won't work on windows unless you use cygwin or WSL.

[2018-11-28 07:20] skvadrik commented on #210
@TomUdale About the warnings in parser.cc, they come from the code autogenerated by bison, and normally people don't see them because they don't set `-Wconversion -Wsign-conversion` compiler options. They are relativey harmless, but they can only be fixed in bison (and bison devs are busy doing more useful stuff).

[2018-11-29 18:54] fgeek opened #231 "AddressSanitizer: heap-buffer-overflow src/ast/lex_conf.cc:4019 in re2c::Scanner::lex_conf_number()"
Hello. It's me again after ~1358 million executions :)

Tested commit: 15c5c7b41fe7198c03bc32e5968a652d336f76bc
Tools: [american fuzzy lop](http://lcamtuf.coredump.cx/afl/) 2.52b, [afl-utils](https://gitlab.com/rc0r/afl-utils)
[re2c-2018-11-29.txt](https://github.com/skvadrik/re2c/files/2630481/re2c-2018-11-29.txt)
[code]

[2018-11-29 22:32] skvadrik commented on #231
Alas! This one was even reported by `re2c -W`, if I only cared to enable RE2C own warnings:
[code]

Thanks for reporting. Pushed a fix: https://github.com/skvadrik/re2c/commit/4b511e541a880fd2d6311fcf94c23fb1a6de7927 .

[2018-12-03 15:49] fgeek commented on #231
Fix confirmed.

[2018-12-03 15:49] #231 closed

[2018-12-03 19:55] fgeek opened #232 "AddressSanitizer: heap-buffer-overflow src/ast/lex.cc:3413 in re2c::Scanner::set_sourceline()"
Tested commit: 8d5e57f409bb6a342688a0e6a34c78d54186aedd
Tools: [american fuzzy lop](http://lcamtuf.coredump.cx/afl/) 2.52b, [afl-utils](https://gitlab.com/rc0r/afl-utils)
[re2c-2018-12-03.txt](https://github.com/skvadrik/re2c/files/2641006/re2c-2018-12-03.txt)
ps. Should I sent these via email or some other channel?
[code]

[2018-12-04 07:52] sergeyklay commented on #232
I would like suggest to use GitHub Issues for all bug reports

[2018-12-04 20:18] skvadrik commented on #232
@fgeek : I agree, if it's convenient for you, do post crashes found by AFL here. Github issues are easier to find and read than email archives for people coming from outside the project. And the bugs are different, e.g. this one needs more thinking than the previous ones.

[2018-12-04 20:32] fgeek commented on #232
Roger that.

[2018-12-04 23:38] sergeyklay commented on #117
Hello @skvadrik

It is mostly question but not a real issue; Should I always use **`*`** for the default rule or **`[^]`** more safer in term of portability? Unfortunately, I don’t have any statistics, so I can’t deal how much popular re2c <= 0.13.7. I personally use 1.1.1 (on my laptop). But for example PHP uses 0.13.4 https://github.com/php/php-src/blob/4dd7177224140ceb042b1271c25340447fe6f9ce/a

[2018-12-05 23:09] skvadrik commented on #117
Hi @sergeyklay,

The usual way to resolve portability issue is to bundle pre-generated files together with other sources, and check during configuration if re2c is available or not. You can do autoconf-style feature detection: check if re2c can compile a small program containing default rule. If the test fails, fall back to pre-generated files. Then it's only developers who need a fresh enough re2

[2018-12-06 09:32] fgeek opened #233 "AddressSanitizer: heap-buffer-overflow src/ast/lex.cc:2253 in re2c::Scanner::lex_code_in_braces()"
Tested commit: 8d5e57f409bb6a342688a0e6a34c78d54186aedd
Tools: [american fuzzy lop](http://lcamtuf.coredump.cx/afl/) 2.52b, [afl-utils](https://gitlab.com/rc0r/afl-utils)
[re2c-crashes-2018-12-06-002.txt](https://github.com/skvadrik/re2c/files/2652499/re2c-crashes-2018-12-06-002.txt)
[code]

[2018-12-06 09:37] fgeek commented on #232
This crash might be related to same root-cause [re2c-crashes-2018-12-06-001.txt](https://github.com/skvadrik/re2c/files/2652509/re2c-crashes-2018-12-06-001.txt)

[2018-12-06 10:09] fgeek opened #234 "AddressSanitizer: heap-buffer-overflow src/ast/lex.cc:2455 in re2c::Scanner::lex_string(char)"
Tested commit: 8d5e57f409bb6a342688a0e6a34c78d54186aedd
Tools: [american fuzzy lop](http://lcamtuf.coredump.cx/afl/) 2.52b, [afl-utils](https://gitlab.com/rc0r/afl-utils)
[re2c-crashes-2018-12-06-003.txt](https://github.com/skvadrik/re2c/files/2652613/re2c-crashes-2018-12-06-003.txt)
[code]

[2018-12-06 22:19] skvadrik commented on #232
Pushed a fix: https://github.com/skvadrik/re2c/commit/2f3e597abce36fb7f41413373308b7f13fc98181. This also fixes #233 and #234.

This is not the final fix to lexer buffering mechanism, but it should work. A better fix requires adding new simplified API for buffer refill, so it will take some time.

[2018-12-06 22:19] skvadrik commented on #233
Pushed a fix: 2f3e597. This also fixes #232 and #234.

[2018-12-06 22:20] skvadrik commented on #234
Pushed a fix: 2f3e597. This also fixes #232 and #233.

[2018-12-07 20:20] sergeyklay commented on #117
Thank you for the clarification!

[2018-12-07 20:21] sergeyklay commented on #117
IMO you definitely should add this to the docs :)

[2018-12-07 22:58] skvadrik commented on #117
I wrote some a while ago, but it's very well hidden: http://re2c.org/manual/warnings/undefined_control_flow/wundefined_control_flow.html#difference-between-and. Self-validation is also documented, but in a different part of the manual: http://re2c.org/manual/features/skeleton/skeleton.html#undefined-control-flow. Some day I'll get to writing a short tutorial with all useful links in one page.

[2018-12-08 13:03] fgeek commented on #232
Fix confirmed.

[2018-12-08 13:03] #232 closed

[2018-12-08 13:03] fgeek commented on #233
Fix confirmed.

[2018-12-08 13:03] #233 closed

[2018-12-08 13:04] fgeek commented on #234
Fix confirmed.

[2018-12-08 13:04] #234 closed

[2018-12-22 06:17] terpstra opened #235 "Unicode character classes"
Firstly, thanks a lot for this tool. It saved me a lot of time! I am using re2c to create a parser for an as-yet unpublished build tool. The input files are utf-8 encoded. Everything works fine for the ascii character set.

However, I'd like to expand my identifier space to include/allow unicode letters in addition to [a-zA-Z]. Currently the only way to do this that I can see is to write a parser

[2018-12-22 12:18] skvadrik commented on #235
Hi @terpstra , your grep was correct: re2c doesn't support syntactic aliases for Unicode character classes yet. There is no technical reason it can't do that, but you are the first to ask.

As a temporary quick workaround, I can generate and distribute together with re2c source code an "official" file with re2c definitions of Unicode categories: [unicode_categories.re.txt](https://github.com/skvad

[2018-12-22 12:36] terpstra commented on #235
Thanks a lot for this! Does re2c support some form of 'include'? Dumping tables this large into a source file whose main focus is parsing distracts the reader.

Ultimately, I think users will want all the classes and subclasses in Unicode. For example, also the Lu class for upper-case letters / etc. Do you think this is a good candidate for future inclusion?

[2018-12-23 00:00] skvadrik commented on #235
No, but it would be useful. Initial implementation may only allow to include files from current directory (the one re2c is run from), otherwise we'd also need to support include paths.

Agreed.

Yes. Don't close the issue. :)

[2018-12-25 21:54] terpstra commented on #235
I've noticed that "L \ Lu" in re2c v1.1.1 reports:
re2c: error: line 359, column 12: can only difference char sets

It seems that the inclusion of any value above 0x80 in a character class renders it no longer a character class.

[2018-12-25 22:34] skvadrik opened #236 "Support range difference with variable-length encodings."
Range difference doesn't work in cases when the ranges include multi-code-unit characters, because re2c applies the difference operator `\` after it transforms character ranges into graphs representing these ranges (for example, the whole Unicode range `[^]` looks like this: http://re2c.org/_images/utf8_any.png --- it's not a simple matter of OR-ing all sub-ranges).

Discussion started in #235.

T

[2018-12-25 22:38] skvadrik commented on #235
@terpstra I opened #236: this is a known limitation, but worth a separate issue.

[2018-12-25 22:59] terpstra opened #237 "Handle non-ASCII encoded characters in regular expressions."
For example,
      [*\xD7]      { return op_type(10, 1);  } // multiply
is not the same as
      [*×]      { return op_type(10, 1);  }

The later is clearly more reader-friendly.

[2018-12-25 23:30] skvadrik commented on #237
Hmm... at first I confused Unicode `×` with ASCII `x`.

As of now, re2c expects input file in ASCII. It will parse and compile non-ASCII input as well (e.g. UTF-8), but it will treat it a a stream of bytes, so `[×]` will be processed as a 2-charachter range `[\xC3\x97]`. If the same character occurred in the part of the code not transformed by re2c, it would be pasted verbatim into the output file

[2018-12-26 00:53] terpstra commented on #237
(1) Why do you need to guess the input encoding? Users would be happy to tell re2c on the command-line.
(2) I can't imagine wanting this for anything other than inside ""s or []s.

[2018-12-26 00:56] terpstra commented on #237
As I understand correctly, when I put "×"as a string into a re2c input file right now, it is only working because both my re2c input file encoding is utf-8 and my generated parser is utf-8. If they did not match, re2c would do the wrong thing? ie: strings are correct by coincidence, while []s are always broken (because the code point is treated as it's elements).

[2018-12-26 10:40] skvadrik commented on #237
(2) I can't imagine wanting this for anything other than inside ""s or []s.

Ok, makes sense.

No. Both strings and classes "don't work", meaning that they are not handled like you expect. Let's see in detail what happens with character classes, and then with strings. First, re2c has to parse input. Parser is encoding-insensitive: it handles everything as raw bytes (ASCII extended to 8-bit range).

[2018-12-26 11:47] skvadrik commented on #235
@terpstra Meanwhile, re2c learnt to handle include files https://github.com/skvadrik/re2c/commit/b94c5af9a2d150c9421ca3148baa3a625ecce682:
- `/*!include:re2c "x.re" */` works in the same way as `#include "x.re"` in C/C++, as if `x.re` was pasted verbatim in place of the directive.
- `-I <path>` option allows to specify search paths for included files. Default search path is the directory of the so

[2018-12-26 13:09] terpstra commented on #235
Nice!

Do you plan to put unicode_categories.re somewhere in the include path? For now I'm just copy-pasting it into my own symbol.re as you suggested.

[2018-12-26 18:47] skvadrik commented on #235
For now I think the best option is to copy `unicode_categories.re` in your source tree and then put `/*!include:re2c "path/unicode_categories.re" */` in your `.re` file. If `unicode_categories.re` gets updated, at least you won't have to modify the including `.re` file and glue it together from pieces.

Perhaps later re2c will install these definition files in some default locations, or at least d

[2019-01-03 23:06] fgeek opened #238 "ASan heap-buffer-overflow src/dfa/tcmd.cc:175 in re2c::tcpool_t::make_add(re2c::tcmd_t*, int, int, re2c::tag_history_t const&, unsigned int, unsigned long)"
Tested commit  2f3e597abce36fb7f41413373308b7f13fc98181 and reproducer [re2c-2019-001.zip](https://github.com/skvadrik/re2c/files/2725554/re2c-2019-001.zip). Have a nice new year!
[code]
[code]

[2019-01-04 21:20] skvadrik commented on #236
@terpstra To start small, I fixed range difference with variable-length encodings (last relevant commit is https://github.com/skvadrik/re2c/commit/c6f23fbc72817898f49a961a0dded6811ab2807c). Now things like `[*\xd7] \ [\xd7]` in UTF-8 should work as expected.

Generation speed is unlikely to be the bottleneck for most users, but still it's better to keep an eye on it (e.g in case we want to use re2

[2019-01-05 12:55] fgeek commented on #238
Fix confirmed.

[2019-01-05 12:55] #238 closed

[2019-01-13 02:33] mlite commented on #215
In case you are interested in what tool I used.  I just released the tool at https://stensal.com. It's called Stensal SDK. It's free for personal use.

[2019-01-13 10:04] skvadrik commented on #215
@mlite , thanks !

[2019-01-13 20:52] mwberry opened #239 "Push model example has wrong re2c invocation, breaks guide"
I got frustrated with flex and went looking for a better tool. I found re2c and was glad to see it offered everything flex does and appears to address all the short comings of flex's design. I worked through the examples in order to try to quickly onboard with the re2c syntax and concepts. When I got to the [push model example](http://re2c.org/examples/example_18.html) I found it did not compile,

[2019-01-13 21:20] skvadrik commented on #239
@mwberry all fixed, thank you for reporting!

[2019-01-14 23:37] mwberry opened #241 "Guidance on how to use re2c for full-duplex command & response protocol"
I'm attempting to utilize re2c in the context of a full-duplex communication protocol. A client is sending commands to the server, which I'd like to lex with re2c and then parse. The client may send many commands before waiting for responses or it might send commands one at a time and wait for a response between each one.

The issue I'm having is the one demonstrated in a number of the examples: `

[2019-01-15 01:05] mwberry commented on #241
Further question. When combining `--storable-state` with `--input custom` and `re2c:yyfill:enable = 0;` to make a push-lexer that does unbuffered reads, it looks like calls to `YYSETSTATE(n)` are only generated in places where `YYFILL(n)` would have been made had it not been disabled. Since `YYSKIP()` is being used to do unbuffered reads and returns if data isn't immediately available (the outer p

[2019-01-15 02:10] skvadrik commented on #241
Hmm, it's an interesting use case, somewhat unusual.

Indeed, `--storable-state` is broken with any input model except the default one with `YYFILL()` and `YYMAXFILL`. Generic API (`--input custom`) has been added much later, and you are the first to try using it with `--storable-state`.

Can you post the protocol grammar, or even the whole lexer here? In some cases the turns out to be a bit easie

[2019-01-15 03:14] mwberry commented on #241
The grammar is pretty uninteresting as I haven't really even gotten around to converting it from `flex`. I'm still at the phase of finding out if re2c can do what I need it to or if I need a different tool. The protocol is ESMTP. Commands are (mostly) CRLF delimited text. As I mentioned, one or more commands can arrive before the client blocks on a response. Sometimes commands will get broken up o

[2019-01-15 07:06] mwberry commented on #241
Focusing on correctness instead of speed, here's my hacky plan: Manipulate output of re2c in the following ways
1. After each label, call `YYSETSTATE(n)` with that state (also patch dispatch table w/ new states)
2. Before each `in.yych = *++in.cur` call, add a `if (1 == (in.lim - in.cur)) YYFILL(1);` check
3. Before returning from the `lex` function, set the state to zero.

The rationale is to:
1.

[2019-01-16 04:51] mwberry commented on #241
Your expediency is laudable. Where do I send donations?

[2019-01-16 07:12] skvadrik commented on #241
Eh, but we only accept donations in the form of pull-requests. :D
(And you already sent one, so consider it sorted out.)

[2019-01-16 09:22] mwberry commented on #241
Well thanks a million anyway. When I have the full lexer ready, I'll send you a new test case for your suite.

[2019-01-16 09:22] #241 closed

[2019-01-16 23:06] #229 closed

[2019-01-16 23:15] skvadrik opened #242 "Operator precedence with --flex-syntax is broken."
re2c parses `ab*` as `(ab)*`, while it should be `a(b)*`:

[code]

[code]

[2019-01-17 05:06] fletcher commented on #235
FYI -- this precompiled set of unicode definitions is fantastic -- I needed to add support for unicode strings to a project I started today, and found this.  Made short work of an otherwise complicated problem.  Thanks!

(PS--  Thanks for asking about this Brett!)

[2019-01-17 07:21] skvadrik commented on #235
Glad to hear that it works for you!
I wish the original re2c author and long-time contributors like @dnuffer read the above comment.

[2019-01-17 17:11] terpstra commented on #235
Who is Brett? From the context, it sounds like you meant me.

[2019-01-17 19:00] fletcher commented on #235
@terpstra My apologies, you are right.  I saw terpstra and immediately thought of Brett Terpstra since our software projects intersect at times.  But that isn't you, so while my comment stands in its intent (I appreciate your asking about this!) it doesn't mean quite as much since we've never met and your name is not Brett.....

Move along.... Nothing to see here....  Just another person making an

[2019-01-17 23:07] skvadrik commented on #242
Fixed by commit https://github.com/skvadrik/re2c/commit/4dea13a1c7a467908e5bf452803e5f5cc17bbf08.

This may certainly affect existing code that relies on old behaviour. But it was broken so badly that even a sudden change of behaviour seems a better option.

[2019-01-17 23:08] #242 closed

[2019-02-11 09:43] unixod opened #243 "A code generated for period (.) requires 4 bytes."
Hi,

I noticed interesting behavior when tried to generated a code for the following re2c-specification:

[code]

as I figured out, the generated code, on input requires at least 4 bytes not 1:

[code]

this requirement seems a little bit strange to me, because UTF-8 code points aren't necessary to have 4 bytes length.

Could you help me please to clarify, whether this behavior is bug or an expect

[2019-02-11 13:42] unixod opened #244 "Switching to CMake"
What do you think about switching re2c to using CMake build system?

Although the codebase of re2c is cross-platform, the currently used build system breaks portability of the project by imposing hard dependency on GNU toolchain.  Switching to CMake may free the project from this dependency and make it possible to build re2c using native compilers on supported OSes. In other words, with CMake the

[2019-02-11 17:53] skvadrik commented on #243
Hi Eldar,

Dot `.` means "any symbol except newline". In UTF-8 this expands to [something like this](http://re2c.org/_images/utf8_any.png) (the graph is actually for `[^]`). The length of code points in this range varies from 1 to 4.

In your case re2c demands 4 bytes, because it uses default input model (explained below). This is not necessarily the best option --- which model to choose depends o

[2019-02-11 18:11] skvadrik commented on #244
Eh, people are asking about CMake build system from time to time... I can't say anything for sure, but let's give it a try.

The difficulty is in the details. Bootstrap is requires custom rules, but I think it can be done. The `c99_stdint.h` header is important for pre-C++11 compatibility (re2c is sometimes used in strange or old environments), so we need to keep it. There is a number of other che

[2019-02-11 21:25] skvadrik commented on #243
Of course, in real world code `strlen` can be avoided: either string is null-terminated and cannot contain `0` in the middle (in which case `0` can be sentinel and model 1 can be used), or input length is known in advance.

[2019-02-12 07:04] unixod commented on #243
Ulya, thanks a lot for your explanation and for the description of possible ways to solve my problem!

[2019-02-12 07:04] #243 closed

[2019-02-12 07:33] unixod commented on #244
Ulya, thanks for your willingness to switch build system to CMake.

I can prepare a PR, but I still don't know how to preserve all content of c99_stdint.h. If I find some admissible workaround how to preserve this file I'll prepare PR.

By the way, if you find some way to omit that file, or realize that the file actually isn't used by clients, let me know, I'll try to prepare PR.

[2019-02-13 16:16] skvadrik commented on #244
The problem is the dependency of `c99_stdint.h` on `config.h`, which is generated by `configure` script and contains various defines such as `HAVE_STDINT_H`, `PACKAGE_VERSION`, etc. To port this stuff on CMake, we need to find equivalent functionality in CMake (ability to to test for various headers, programs, patch files, etc. when configuring the package). Re2c does not need much, but that what

[2019-02-19 08:16] unixod commented on #244
Hi Ulya,

Sorry for the late response)

Yes, CMake provides facilities to test and extract certain properties of the target environment (such as size of types, existence of headers, availability of compiler flags, etc.). If I remember correctly, when I porting this part of re2c's build system, I stuck in determing size of oi8 (because I simply didn't recognize this type). If you help me to clarify

[2019-02-19 23:48] skvadrik commented on #244
It's ok! I'll just reopen the issue for now. If you have some time to work on it, great, but discussion is also useful.

It's not `oi8`, it is `0i8`: zero literal with suffix `i8` to disambiguate size. This suffix is non-standard and probably comes from MSVC, together with `__int64`. It may be needed on some old MSVC version that predates the existence of `stdint.h` and `long long`, and where size